@charset "utf-8";
/*------------------------------------*\
	HEADER
\*------------------------------------*/

#header-top-bar {
	height:50px;
	background:url(../img/header-bg.png);
	margin-bottom:25px;
}
#header-logo {
	vertical-align:middle;
	height:50px;
	float:left;
	margin-left:0px;
	padding-left:2px;
	padding-right:3px;
}
#header-logo img {
	height:50px;
}
#account-bar{
	height:30px;
	width:30%;
	float:right;
	margin-right:0px;
	margin-top:10px;
	margin-right:10px;
	vertical-align:middle;
}
#account-bar-left{
	width:6px;
	height:30px;
	float:left;
	vertical-align:middle;
	background-image:url(../img/left-account-bar.png);
}
#account-bar-right{
	width:6px;
	height:30px;
	float:left;
	background-image:url(../img/right-account-bar.png);
	vertical-align:middle;
}
#account-bar-inner{
	background:url(../img/account-bar-bg.png);
	width:96%;
	height:30px;
	float:left;
	vertical-align:middle;
}
#welcome-area{
	float:left;
	vertical-align:middle;
	height:30px;
	padding-top:7px;
	padding-left:5px;
	padding-right:5px;
	color:#FFF;
}
#settings-area{
	width:60px;
	height:30px;
	vertical-align:middle;
	float:right;
	padding-top:7px;
	padding-left:5px;
	padding-right:5px;
	color:#FFF;
}
#logout-area{
	width:50px;
	height:30px;
	vertical-align:middle;
	float:right;
	padding-top:7px;
	padding-left:5px;
	padding-right:5px;
	color:#FFF;
}


/*--- HEADER CLASSES ---*/

.header-links {
	color:#FFF;
	text-decoration:none;
}
/* Settings Menu */
#settings-area ul {
	list-style:none;
}

/* 
	LEVEL ONE
*/
#settings-area ul.dropdown                         { position: relative; z-index:9999;}
#settings-area ul.dropdown li                      { float: left; zoom: 1; color:#FFF; }
#settings-area ul.dropdown a:hover		           { color: #FFF; }
#settings-area ul.dropdown a:active                { color: #FFF; }
#settings-area ul.dropdown li a                    { display: block; text-align:right;}
#settings-area ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
#settings-area ul.dropdown li.hover,
#settings-area ul.dropdown li:hover                { background: #5c9ccc; color: black; position: relative; }
#settings-area ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
#settings-area ul.dropdown ul 						{ width: 130px; visibility: hidden; position: absolute; top: 100%; left: -57px; }
#settings-area ul.dropdown ul li 					{background: #000; color: #FFF; border-bottom: 1px solid #ccc; float: none; padding-left: 5px; padding-right: 5px; padding-top:3px; padding-bottom:3px; }
									  
 /* IE 6 & 7 Needs Inline Block */
#settings-area ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
#settings-area ul.dropdown ul ul 					{ left: 100%; top: 0; }
#settings-area ul.dropdown li:hover > ul 			{ visibility: visible; }