@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
	position:relative;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
}
#header #rightside {
	float:right;
	position:relative;
	height:50px;
}
#header #logo {
	float:left;
	position:relative;
	height:50px;
	width:150px;
}
.sm_block {
	width: 30% !important;
}
.med_block {
	width: 50% !important;
}
.lg_block {
	width: 100% !important;
}
.title_bar {
	padding:3px;
	border: 1px solid #666;
	margin-bottom: 3px;
	height: 10px;
}
.title_area{
	float:left;
	text-align:left;
	width:50%;
	font-weight: bold;
}
.title_size_area {
	float:right;
	width: 50px;
}
.fullpercent {
	width:100%;
}
.workspace {
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: scroll;
}
.ui-state-hover1 {
	height: 100px;}	

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	position:relative;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
}
#header #rightside {
	float:right;
	position:relative;
	height:50px;
}
#header #logo {
	float:left;
	position:relative;
	height:50px;
	width:150px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	position:relative;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
}
#header {
	position:relative;
	height:50px;
	vertical-align:middle;
}
#header #rightside {
	float:right;
	position:relative;
	height:15px;
	margin-top:10px;
	padding: 5px;
}
#header #rightside span {
	padding-left:5px;
	padding-right:5px;
}
#header #logo {
	float:left;
	position:relative;
	height:50px;
	width:150px;
}
.tabs {
	min-height: 250px;
	overflow-y: auto;
	overflow-x: none;
}
.icon {
	padding: 10px;
}
.icon-img img {
	border:none;	
}
.icon-img, .icon-txt {
	float:left;
	font-size: 10px;
}
.icon-txt {
	position:relative;
	top: 45px;
	left: -45px;
}
#footer {
	float:left;
	width:100%;
	position:relative;
}}

/* everywhere */
#icon-area {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#icon-area li {
	margin: 3px 3px 3px 0;
	padding: 5px;
	float: left;
	width: 60px;
	height: 60px;
	font-size: .5em;
	text-align: center;
}
#app-area {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#app-area li {
	margin: 3px 3px 3px 0;
	padding: 5px;
	float: left;
	height: auto;
	font-size: .5em;
	text-align: center;
}
#app-area-2 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#app-area-2 li {
	margin: 3px 3px 3px 0;
	padding: 5px;
	float: left;
	height: auto;
	font-size: .5em;
	text-align: center;
}