<center><table width="600" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td colspan="4"><a href="http://www.wrayvw.com/index.htm"><img src="#" border="0" alt="Wray Mazda" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.wrayauto.com/index.htm"><img src="http://www.dealeronlinemarketing.com/Client/WRAU-Wray-Automotive/A-CRM-Templates/WRAU-1014/home.jpg" alt="Home" border="0" /></a></td>
    <td><a href="http://www.wrayauto.com/new-inventory/index.htm"><img src="http://www.dealeronlinemarketing.com/Client/WRAU-Wray-Automotive/A-CRM-Templates/WRAU-1014/new-cars.jpg" alt="New Cars" border="0" /></a></td>
    <td><a href="http://www.wrayauto.com/used-inventory/index.htm"><img src="http://www.dealeronlinemarketing.com/Client/WRAU-Wray-Automotive/A-CRM-Templates/WRAU-1014/used-cars.jpg" alt="Used Cars" border="0" /></a></td>
    <td><a href="http://www.wrayauto.com/financing/application.htm"><img src="http://www.dealeronlinemarketing.com/Client/WRAU-Wray-Automotive/A-CRM-Templates/WRAU-1014/financing.jpg" alt="Financing" border="0" /></a></td>
  </tr>
  <tr>
    <td align="left" colspan="4" style="padding-top:15px; padding-left:17px; padding-right:17px; padding-bottom:15px; font-size:16px;"><p>We want to know about your experience at Wray Automotive!
      <br /><br />
      We appreciate you visiting us at Wray Automotive, and we want to hear how you hear about us!  We appreciate your business and hope to see you again soon!
    </p>
    </td>
  </tr>
  <tr>
  	<td align="left" colspan="4" style="padding-top:15px; padding-left:17px; padding-right:17px; padding-bottom:15px; font-size:16px;">
    <form action="https://docs.google.com/a/dealeronlinemarketing.com/forms/d/1KO_quvf9WJsLjM8FON6WCH_Dc5mnyhDItWkYn2jjoO4/formResponse" method="POST" target="_blank" onsubmit="return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);">
    	<label><strong>How did you hear about us?</strong>
        	<label aria-label="(Required field)"></label>
        	<span style="color:#c43b1d;">*</span>
        </label><br/><br/>
        <label>
    <input type="radio" name="entry.224541839" value="Friends/Family member" role="radio" aria-label="Friends/Family member">
    Friends/Family member </label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="Wray Employee" role="radio" aria-label="Wray Employee">
    Wray Employee</label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="Online Search" role="radio" aria-label="Online Search">
    Online Search</label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="Television Ad" role="radio" aria-label="Television Ad">
    Television Ad</label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="Billboard" role="radio" aria-label="Billboard">
    Billboard</label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="Online Ad" role="radio" aria-label="Online Ad">
    Online Ad</label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="YouTube" role="radio" aria-label="YouTube">
    YouTube</label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="Social Media Site(Facebook, Twitter, etc.)" role="radio" aria-label="Social Media Site(Facebook, Twitter, etc.)">
    Social Media Site(Facebook, Twitter, etc.)</label><br/>
  <label>
    <input type="radio" name="entry.224541839" value="Drove by the dealership" role="radio" aria-label="Drove by the dealership">
    Drove by the dealership</label><br/>
  <input type="hidden" name="draftResponse" value="[]">
  <input type="hidden" name="pageHistory" value="0">
  <input type="submit" name="submit" value="Submit"><br/>
</form>
    </form>
    </td>
  </tr>
  <tr>
    <td colspan="4" align="center" style="padding-top:15px; padding-left:20px; padding-right:20px; padding-bottom:15px; font-size:14px;">Please visit our website at <a href="http://www.wrayauto.com/index.htm">www.WrayAuto.com</a> for restrictions.<br>
      Click a link below and like us on Facebook or follow us on Twitter.<br>
      <br>
      <img src="http://www.dealeronlinemarketing.com/Client/WRAU-Wray-Automotive/A-CRM-Templates/WRAU-1014/social.jpg" alt="Social" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td colspan="4" align="left" style="padding-top:15px; padding-left:20px; padding-right:20px; padding-bottom:15px; font-size:9px; background-color:#515151; color:#FFFFFF; text-transform:uppercase;">Important: The information contained in this email may be confidential and is intended solely for the use of the name addressee. Access, copying, or re-use of the email or any information contained therein by any other person is not authorized. If you are not the intended recipient, please notify us immediately by returning the email to the originator. </td>
  </tr>
</table>
<map name="Map">
  <area shape="rect" coords="83,4,107,22" href="https://www.facebook.com/WrayVW">
  <area shape="rect" coords="113,4,134,22" href="https://twitter.com/WrayAutomotive">
</map>
</center>