<form action="/still-searching-confirm.htm?pageAlias=SITEBUILDER_POPOVER_STILL_SEARCHING_1&amp;formId=andersonnissanofraleigh_contact_1" method="post" class="validate  ddc-form-default" role="form">
<fieldset>
<div class="yui3-g">
<div class="yui3-u-1">
<span class="required group-required">
<strong>
Select One:<em>*</em>	</strong>
<label checkbox-group-validation-error></label>
<label class="checkboxgroup Select One:">
<input type="checkbox" name="_custom=FIELD_CHECKBOXGROUP_1387479596445=1=Select One:" class="checkbox" value="New" tabindex="1" data-required-group="true" data-pre-owned="FIELD_OPTION_1387479596447" data-new="FIELD_OPTION_1387479596446"  />
<span>New</span>		</label>
<label class="checkboxgroup Select One:">
<input type="checkbox" name="_custom=FIELD_CHECKBOXGROUP_1387479596445=1=Select One:" class="checkbox" value="Pre-Owned" tabindex="1" data-required-group="true" data-pre-owned="FIELD_OPTION_1387479596447" data-new="FIELD_OPTION_1387479596446"  />
<span>Pre-Owned</span>		</label>
</span>
<label class="text Make">
<span>Make<em>*</em></span>	
<input type="text" name="_custom=FIELD_TEXT_1387479673001=2=Make" class="text ui-widget-content ui-corner-all required" tabindex="2" required="required" pattern="(^$)|(^.*(\S+).*$)"  />
</label>
<label class="text Model">
<span>Model<em>*</em></span>	
<input type="text" name="_custom=FIELD_TEXT_1387479693857=3=Model" class="text ui-widget-content ui-corner-all required" tabindex="3" required="required" pattern="(^$)|(^.*(\S+).*$)"  />
</label>
<input type="hidden" name="accountId" class="hidden" value="andersonnissanofraleigh"  />
<label class="name contact-firstName">
<span>First Name<em>*</em></span>	
<input type="text" name="contact.firstName" class="text ui-widget-content ui-corner-all required" tabindex="5" required="required" pattern="(^$)|(^[a-zA-Z][-a-zA-Z.' ]{1,}$)"  />
</label>
<label class="name contact-lastName">
<span>Last Name<em>*</em></span>	
<input type="text" name="contact.lastName" class="text ui-widget-content ui-corner-all required" tabindex="6" required="required" pattern="(^$)|(^[a-zA-Z][-a-zA-Z.' ]{1,}$)"  />
</label>
<label class="email contact-email-sep">
<span>Email</span>	
<input type="email" name="contact.email.sep" class="email ui-widget-content ui-corner-all" tabindex="7" pattern="(^$)|(^.*(\S+).*$)"  />
</label>
<label class="phone contact-phone-sep">
<span>Home Phone</span>	
<input type="text" name="contact.phone.sep" class="text ui-widget-content ui-corner-all" tabindex="8" pattern="(^$)|(^\+?[1]?[-. ]?\(?[\d]{3}\)?[-. ]?[\d]{3}[-. ]?[\d]{4}[ a-zA-Z0-9.:]*$)"  />
</label>
</div>
</div>
</fieldset>
<input type="hidden" name="v8form" class="hidden" value="true"  />
<input type="hidden" name="userSessionId" class="hidden" value="723df60c0a0a0003382769f8f604ef54"  />
<input type="hidden" name="form.id" class="hidden" value="CONTACT"  />
<input type="hidden" name="confirmation" class="hidden" value="DNA3293942_v9_CONFIRM_DEFAULT_V1_1"  />
<input type="hidden" name="_action" class="hidden" value="SubmitGenericLead"  />
<input type="hidden" name="portalId" class="hidden"  />
<input type="hidden" name="source" class="hidden" value="popover-still-searching - Dealer.Com Website"  />
<button class="ui-button ui-widget ui-state-default ui-corner-all  ui-button-text-only   ui-button-submit" type="submit" tabindex="16">
<span class='ui-button-text'>
Submit
</span>
</button>
<div class="hide templates">
<small class="error  ui-state ui-state-error ui-corner-all">
<span class="align-left ui-icon ui-icon-alert"></span>
</small>
</div>
</form>