table#content { 
		margin: auto;
		clear: both;
		position: relative;
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-family: Verdana, sans-serif;
        font-size: 11px;  }
        
     img2 {
width: 100%;
height: 100%;
} 