/* General CSS for MLogic Platform*/
/* default style for HTML tags*/
/* site global body property

body {
	font-family:  Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	font-size: small;
	color:#000000;
	margin:0px;
}
a img{ border:none} 
*/
/**this will be global the same but need to be with all anchor tags together*/
a {text-decoration: none; color: #00529b;}
a img{ border:none} 
a:focus, a:hover, a:active {color:#efefef; background:#222222;text-decoration:none;}

/* site navigation header bg  */
.logo{
	background-color: #336699;
	text-align:center;
	width:320px; 
	vertical-align: middle;
	font-weight:bold;
}
/* div for white bg text area */

.list_border{
    //border-bottom: 1px solid #949494;
    border-top: 1px solid #16478a;
}
/* page footer div tag */
.ft{
	background-color:#af0500;
	padding-left:7px;
    font-weight:bold;
	
	width:320px;
	
}
.ftspace{
	background-color:#000000;
	padding:1px;
	width:320px;
}
.ftlink{
	color:#FFFFFF;
	}
.credit{
	text-align:center;
	width:99%; 
}
/* format the zip code input to all numeric input*/
.phone {-wap-input-format:"*N"}
.redt{
	color:#ff0000;
}
