
body, html {
    height: 100%;
}
body {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #DB4437;
    font: 13px Arial,sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#matrix .cell {
    position: absolute;
}
#matrix-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#matrix-button {
    background: url("../images/matrix.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 23px;
    padding: 10px;
    position: absolute;
    width: 22px;
    z-index: 2;
}
#matrix-select-container {
    left: 10px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 10px;
    z-index: 3;
}
#matrix-select-container.showing {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 100ms linear 0s;
}
#matrix-select td {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    height: 18px;
    width: 18px;
}
.no-rgba #matrix-select td {
    border: 1px solid #FFFFFF;
}
#matrix-select td.highlight {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}
.no-rgba #matrix-select td.highlight {
    background: none repeat scroll 0 0 #EEEEEE;
}
#matrix-select td.select {
    background: none repeat scroll 0 0 #DDDDDD;
}
#matrix-select td.highlight.select {
    background: none repeat scroll 0 0 #FFFFFF;
}
#desc {
    bottom: 20px;
    color: #FFFFFF;
    left: 22px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}
#desc a {
    color: #FFFFFF;
}
#region {
    border-bottom: 1px dotted #FFFFFF;
    display: inline-block;
    font-weight: bold;
}
#region-select {
    cursor: pointer;
    margin-top: -1px;
    opacity: 0;
    position: fixed;
    width: 100px;
    z-index: 3;
}
#logo {
    bottom: 14px;
    position: fixed;
    right: 22px;
    z-index: 2;
}
#logo a {
    background: url("../images/logo-white.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    display: block;
    padding-left: 75px;
    text-decoration: none;
}
@media (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, (min-resolution: 1.3dppx) {
#logo a {
    background-image: url("../images/logo-white2x.png");
    background-position: left bottom;
    background-size: 72px 26px;
}
}
#logo img {
    border: 0 none;
    vertical-align: bottom;
}
#logo span {
    color: #FFFFFF;
    display: inline-block;
    font: 17px/29px Arial,sans-serif;
    margin-left: 4px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: bottom;
}
.no-pointerevents #matrix-select-container {
    display: none;
}
.no-pointerevents #matrix-select-container.showing {
    display: block;
}
@media only screen and (max-width: 500px) {
#logo {
    bottom: auto;
    right: 12px;
    top: 9px;
}
}
@-moz-keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
}
.wiper {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.pane {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 600ms cubic-bezier(0.06, 0.74, 0.24, 1) 0s;
    width: 100%;
}
.wrapper {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: transform 1.15s cubic-bezier(0.06, 0.74, 0.24, 1) 0s, opacity 300ms linear 0s;
    width: 100%;
}
.wrapper2 {
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.wrapper2.transition {
    transition: transform 400ms cubic-bezier(0.06, 0.74, 0.24, 1) 0s;
}
.input {
    -moz-hyphens: auto;
    font: bold 1em 'Helvetica Neue',Helvetica,Arial,sans-serif;
    left: 0;
    letter-spacing: -0.05em;
    padding: 0 0.5em;
    position: absolute;
    right: 0;
    text-shadow: 0 0.025em 0 rgba(0, 0, 0, 0.1);
    top: 50%;
    vertical-align: baseline;
    word-wrap: break-word;
}
.input a {
    color: #FFFFFF;
    text-decoration: none;
}
.beam {
    background-color: #FFFFFF;
    display: inline-block;
    height: 1em;
    margin-bottom: -0.12em;
    min-width: 1px;
    vertical-align: baseline;
    width: 0.02em;
}
.beam.blink {
    animation: 1s step-end 0s normal none infinite blink;
}
.csstransforms .beam {
    margin-left: -0.05em;
    transform: translateX(0.1em);
}
.csstransforms [dir="rtl"] .beam {
    margin-right: -0.05em;
    transform: translateX(-0.1em);
}
