
	var NewcarCheck, backCheck;
function SingleSelect() {
	NewcarCheck = document.forms[1].newcar;
	PreownedCheck = document.forms[1].preowned;
	NewcarCheck.onclick = checkClick;
	PreownedCheck.onclick = checkClick;
};
function checkClick(e) {
	var otherCheckbox = this === NewcarCheck ? PreownedCheck : NewcarCheck;
	if (this.checked) {
		otherCheckbox.checked = false;
	}
}
</script>
<style>
#DomPopWrapper tr:nth-child(2n) {
	background:#a8172f;
}
#DomPopWrapper input,
#DomPopWrapper textarea {
	width: auto !important;
} 
#DomSuccess, #DomFail {
	font-family:Helvetica, Arial, sans-serif;
	color:#000;
	margin:auto;
	padding:15px;
}
#DomPopWrapper {
	background:url(http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/DOM_Pop_Box.png);
	width:768px;
	height:626px;
	padding-top:5px;
	z-index:9999;
	position:fixed;
	top:35px;
	margin-left:50%;
	left:-384px;	
	
}
#DomPopWrapper #DOM_Title_Bar {
	background:url(http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/DOM_Title_Bar.png);				
	margin-left:5px;
	height:40px;
	width:758px;
	margin-bottom:10px;
}
#DomPopWrapper #DOM_Title {
	float:left;
	padding-bottom:3px;
	padding-top:7px;
	padding-left:10px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#DomPopWrapper #DOM_Title_Bar_Close {
	width:21px;
	height:20px;
	float:right;
	margin-right:10px;
	margin-top:8px;
}
#DOM_Close {
	width:21px;
	height:20px;
	text-decoration:none;
}
#DomWrapper {
	background:#a8172f;
	font-family:Helvetica, Arial, sans-serif;
	color:#FFF;
	margin:auto;
}
#DomWrapper table, #DomWrapper tr,#DomWrapper td {
	margin:0px;
	padding:0px;
}
#DomWrapper img {
	border:none;
	margin:0px;
	padding:0px;
}
#DomWrapper label {
	font-weight:bold;
	width: auto !important;
}
#DomWrapper #dombuttons {
	font-weight:bold;
	width: 40px !important;
}
#DomWrapper {
	width:700px;
}
#DomWrapper .right_top {
	padding-left:10px;
	padding-bottom:10px;
	padding-top:0px;
}
#DomWrapper .thirteen {
	padding:10px;
}
#DomWrapper .label_left {
	padding-left:10px;
	padding-bottom:2px;
	padding-top:2px;
}
#DomWrapper .DomSubmit {
	width:187px;
	height:40px;
	border:none;
	opacity:0;
}
#DomWrapper .DomFields {
	padding-left:15px;
}
#DomWrapper .DomSubmitDiv {
	padding-top:5px;
	background:no-repeat url(http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/submit.png);
	background-position:center;
}
#DomWrapper .checkbox {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#DomWrapper .formfields {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#DomWrapper .DomSubmitDiv img{
	cursor: pointer;
}
	
</style>


<div id="DomPopWrapper">
<div id="DOM_Title_Bar">
<div id="DOM_Title">Are You Still Searching?</div>
<div id="DOM_Title_Bar_Close"><a href="#" onclick="DOM_ClosePop()" id="DOM_Close"><img src="http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/DOM_Close.png" border="0"></a></div>            
</div>
<div id="DomSuccess" style="display:none;">
<p>We have received your information and a representative will contact you shortly.  We promise to respond to you as quickly as we can.</p><p><a href="/index.htm" title="Home">Go to Anderson Nissan's Homepage</a></p></div>

<div id="DomFail" style="display:none;">
<p>There was a issue processing your information please try again later.<a href="/index.htm" title="Home">Go to Anderson Nissan's Homepage</a></p></div>

<div id="DomWrapper">
<table border="0" cellpadding="0" width="700">
<tbody><tr>
<td width="268"><img src="http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/ANNI-1014-PopUp_01.png" alt="" height="144" width="268"></td>
<td><img src="http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/ANNI-1014-PopUp_02.png" alt="" height="144" width="432"></td>
</tr>
</tbody></table>
<table border="0" cellpadding="0" width="700">
<tbody><tr>
<td><img src="http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/ANNI-1014-PopUp_03.png" alt="" height="60" width="700"></td>
</tr>
</tbody></table>
<form novalidate="novalidate" data-phone-required="false" data-email-required="false" name="still_searching" action="/still-searching-confirm.htm?pageAlias=SITEBUILDER_POPOVER_STILL_SEARCHING_1&formId=andersonnissanofasheville_contact" method="post" class="validate " id="still_searching">
<input name="accountId" class="hidden" value="andersonnissanofasheville" type="hidden">
<table border="0" cellpadding="0" width="700">
<tbody><tr>
<td valign="top" width="342">
<table border="0" cellpadding="0" width="340">
<!-- make -->
<tbody><tr>
<td class="label_left"><label>Make*</label></td>
<td class="DomFields"><input class="formfields" name="_custom=FIELD_TEXT_1379959006685=2=Make" tabindex="3" required="required" pattern="(^$)|(^.*(\S+).*$)" type="text"></td>
</tr>
<!-- model -->
<tr>
<td class="label_left"><label>Model*</label></td>
<td class="DomFields"><input class="formfields" name="_custom=FIELD_TEXT_1379959013436=3=Model" tabindex="4" required="required" pattern="(^$)|(^.*(\S+).*$)" type="text"></td>
</tr>
<!-- first -->
<tr>
<td class="label_left"><label>First Name*</label></td>
<td class="DomFields"><input class="formfields" name="contact.firstName" tabindex="5" required="required" pattern="(^$)|(^[a-zA-Z][-a-zA-Z.' ]{1,}$)" type="text"></td>
</tr>
<!-- last -->
<tr>
<td class="label_left"><label>Last Name*</label></td>
<td class="DomFields"><input class="formfields" name="contact.lastName" tabindex="6" required="required" pattern="(^$)|(^[a-zA-Z][-a-zA-Z.' ]{1,}$)" type="text"></td>
</tr>
<!-- email -->
<tr>
<td class="label_left"><label>Email*</label></td>
<td class="DomFields"><input class="formfields" name="contact.email.sep" tabindex="7" required="required" pattern="(^$)|(^.*(\S+).*$)" type="email"></td>
</tr>
<!-- phone -->
<tr>
<td class="label_left"><label>Phone*</label></td>
<td class="DomFields"><input class="formfields" name="contact.phone.sep" tabindex="8" required="required" pattern="(^$)|(^\+?[1]?[-. ]?\(?[\d]{3}\)?[-. ]?[\d]{3}[-. ]?[\d]{4}[ a-zA-Z0-9.:]*$)" type="text"></td>
</tr>
</tbody></table>
<table border="0" cellpadding="0" width="342">
<!-- required -->
<tbody><tr>
<td class="thirteen">*REQUIRED FIELD</td>
</tr>
<!-- button -->
<tr>
<td class="DomSubmitDiv" align="center"><img src="http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/spacer.gif" height="41" width="187" onclick="$('#still_searching').submit();"></td>
</tr>
</tbody></table>
</td>
<td width="358">
<table border="0" cellpadding="0" width="358">
<tbody><tr>
<td class="right_top"><strong>Select one:</strong>
<table border="0" cellpadding="0" width="330">
<tbody><tr>
<td><input id="newcar" name="_custom=FIELD_CHECKBOXGROUP_1379959021896=1=Select one:" value="New" tabindex="2" data-pre--owned="FIELD_OPTION_1379959021898" data-new="FIELD_OPTION_1379959021897" onclick="SingleSelect('checkClick',this);" type="checkbox"></td>
<td>New</td>
<td><input id="preowned" name="_custom=FIELD_CHECKBOXGROUP_1379959021896=1=Select one:" value="Pre-Owned" tabindex="2" data-pre--owned="FIELD_OPTION_1379959021898" data-new="FIELD_OPTION_1379959021897" onclick="SingleSelect('checkClick',this);" type="checkbox"></td>
<td>Pre-Owned</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td><img src="http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/ANNI-1014-PopUp_06.png" alt="" width="358"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<input name="v8form" class="hidden" value="true" type="hidden">
<input name="userSessionId" class="hidden" value="9466f38a0a0a00031dff197862b8520a" type="hidden">
<input name="form.id" class="hidden" value="CONTACT" type="hidden">
<input name="confirmation" class="hidden" value="DNA3293942_CONFIRM_DEFAULT" type="hidden">
<input name="_action" class="hidden" value="SubmitGenericLead" type="hidden">
<input name="portalId" class="hidden" type="hidden">
<input name="source" class="hidden" value="popover-still-searching - Dealer.Com Website" type="hidden">
<input name="vk" class="hidden" value="pvr1u6tk" type="hidden">
<input name="vv" class="hidden" value="pvr1u6tk" type="hidden">
</form>			 			  
</div>
</div>
<div id="DomSEM" style="visibility:hidden; display:none;"></div>


<script>
// variable to hold request
var request;
// bind to the submit event of our form
$("#still_searching").submit(function(event){
    // abort any pending request
    if (request) {
        request.abort();
    }
    // setup some local variables
    var $form = $(this);
    // let's select and cache all the fields
    var $inputs = $form.find("input, select, button, textarea");
    // serialize the data in the form
    var serializedData = $form.serialize();

    // let's disable the inputs for the duration of the ajax request
    $inputs.prop("disabled", true);

    // fire off the request to /form.php
	if(validateForm()!=false){
    request = $.ajax({
        url: "/still-searching-confirm.htm?pageAlias=SITEBUILDER_POPOVER_STILL_SEARCHING_1&formId=andersonnissanofasheville_contact",
        type: "post",
        data: serializedData
    });
	}else{$inputs.prop("disabled", false);}
	
	request.always(function () {
        // reenable the inputs
        $inputs.prop("disabled", false);
    });
    
	// callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
       
		document.getElementById('DomWrapper').style.visibility = "hidden"; 
	    document.getElementById('DomWrapper').style.display = "none";
		document.getElementById('DomSuccess').style.display = "block";
		//Google SEM
		var google_conversion_id = 980853808;
		var google_conversion_language = "en";
		var google_conversion_format = "2";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "97fQCICm2QYQsMja0wM";
		var google_remarketing_only = false;
        if (100) {
        	var google_conversion_value = 0;
        }
         $.getScript( "http://www.googleadservices.com/pagead/conversion.js" );
		 //Bing
		 if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};
		 $.getScript( "http://flex.msn.com/mstag/site/20f4a9b5-4bd8-4afd-a213-b65962ef4c71/mstag.js" );
		 mstag.loadTag("analytics", {dedup:"1",domainId:"2610637",type:"1",actionid:"164389"})
		 
    });

    // callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        
		document.getElementById('DomWrapper').style.visibility = "hidden"; 
	    document.getElementById('DomWrapper').style.display = "none";
		document.getElementById('DomFail').style.display = "Block";
    });

    // callback handler that will be called regardless
    // if the request failed or succeeded
    

    // prevent default posting of form
    event.preventDefault();
});

function DOM_CreateCookie(name,value,days) {
	// new Date object created
	var date = new Date();
	// adding days to current time
	date.setTime(date.getTime()+(days*24*60*60*1000));
	// converting to standard format
	var expires = date.toGMTString(); 
	// adding cookie name,value and expiry time
	document.cookie = name+"="+value+"; expires="+expires+"; path=/";
}

function DOM_ReadCookie(name) {
	var flag = 0;
	// getting the browser cookie values into an array
	var dcmntCookie = document.cookie.split(';');
	// looping over the array to find our cookie
	for(var i=0;i < dcmntCookie.length;i++) {
		var ck = dcmntCookie[i];
		// loop for removing extra spaces from the beginning of each cookie
		while (ck.charAt(0)==' ') {
			ck = ck.substring(1,ck.length);
		}
		if(ck) {
			// splitting the cookie into its name and value
			cparts = ck.split('=');
			// setting the flag if a cookie with the name specified exists
			if (cparts[0]==name)
			flag=1;
		}              
	}    
	// returning true if cookie exists else returning false 
	if(flag) { 
		return true; 
	} else {
		return false; 
	}   
}
			
function DOM_CheckCookie(name) {
	if (DOM_ReadCookie(name)) {
		document.getElementById('DomPopWrapper').style.display = "none";
		document.getElementById('DomPopWrapper').style.visibility = "hidden";
	}
	else DOM_CreateCookie(name,"Dealer Online Marketing",1);
	
}

function DOM_ClosePop() {
	document.getElementById('DomPopWrapper').style.display = "none";
	document.getElementById('DomPopWrapper').style.visibility = "hidden";
}


function validateForm() {
	var x=document.forms["still_searching"]["_custom=FIELD_TEXT_1379959006685=2=Make"].value;
	if (x==null || x=="")
	{
		alert("Make name must be filled out");
		return false;
	}
	
	var x=document.forms["still_searching"]["_custom=FIELD_TEXT_1379959013436=3=Model"].value;
	if (x==null || x=="")
	{
		alert("Model must be filled out");
		return false;
	}
	
	
	var x=document.forms["still_searching"]["contact.firstName"].value;
	if (x==null || x=="")
	{
		alert("First name must be filled out");
		return false;
	}
	
	var x=document.forms["still_searching"]["contact.lastName"].value;
	if (x==null || x=="")
	{
		alert("Last name must be filled out");
		return false;
	}
	
	var x=document.forms["still_searching"]["contact.phone.sep"].value;
	if (x==null || x=="")
	{
	alert("Phone must be filled out");
	return false;
	}
	
	var x=document.forms["still_searching"]["contact.email.sep"].value;
	var atpos=x.indexOf("@");
	var dotpos=x.lastIndexOf(".");
	if (x==null || x=="")
	{
	  alert("Email must be filled out");
	  return false;
	}
	if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
	{
	  alert("Not a valid e-mail address");
	  return false;
	}
};

DOM_CheckCookie('DOM_Pop');
