#DomPopWrapper {
	background:url(http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/DOM_Pop_Box.png);
	width:768px;
	height:626px;
	padding-top:5px;
	z-index:9999;
	position:fixed;
	top:35px;
	margin-left:50%;
	left:-384px;	
}
#DomPopWrapper #DOM_Title_Bar {
	background:url(http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/DOM_Title_Bar.png);				
	margin-left:5px;
	height:40px;
	width:758px;
	margin-bottom:10px;
}
#DomPopWrapper #DOM_Title {
	float:left;
	padding-bottom:3px;
	padding-top:7px;
	padding-left:10px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#DomPopWrapper #DOM_Title_Bar_Close {
	width:21px;
	height:20px;
	float:right;
	margin-right:10px;
	margin-top:8px;
}
#DOM_Close {
	width:21px;
	height:20px;
	text-decoration:none;
}
#DomWrapper {
	background:#a8172f;
	font-family:Helvetica, Arial, sans-serif;
	color:#FFF;
	margin:auto;
}
#DomWrapper table, #DomWrapper tr,#DomWrapper td {
	margin:0px;
	padding:0px;
}
#DomWrapper img {
	border:none;
	margin:0px;
	padding:0px;
}
#DomWrapper label {
	font-weight:bold;
}
#DomWrapper {
	width:700px;
}
#DomWrapper .right_top {
	padding-left:10px;
	padding-bottom:10px;
	padding-top:0px;
}
#DomWrapper .thirteen {
	padding:10px;
}
#DomWrapper .label_left {
	padding-left:10px;
	padding-bottom:2px;
	padding-top:2px;
}
#DomWrapper .DomSubmit {
	width:187px;
	height:40px;
	border:none;
	opacity:0;
}
#DomWrapper .DomFields {
	padding-left:15px;
}
#DomWrapper .DomSubmitDiv {
	padding-top:5px;
	background:no-repeat url(http://www.dealeronlinemarketing.com/Client/ANNI-Anderson-Nissan/13-Creative-Support/ANNI-1014-popup/images/submit.png);
	background-position:center;
}
#DomWrapper .checkbox {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#DomWrapper .formfields {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}