@charset "utf-8";
/* DOM Vehicle Conversion Page - Responsive */
/* Date: 01/08/2014 James Munyan v 0.0.1 */

*, body {
	margin: 0 0 0 0px !important;
	padding: 0 0 0 0px !important;
}

.Dom_ConversionHeaderWrapper{
	display:block;
	float:left;
	position:relative;
	align-content:center;
	width:100% !important;
}

@media only screen 
and (max-device-width : 320px) {
/* Styles */
	.Dom_ConversionHeaderBackground {
		width:100%;
		max-width:320px !important;
		z-index:1;
		position:relative;
	}
	.Dom_ConversionHeaderBackgroundImg {
		width:100%;
		max-width:320px !important;	
	}
}
@media only screen 
and (min-device-width : 321px) 
and (max-device-width : 480px) {
/* Styles */
	.Dom_ConversionHeaderBackground {
		width:100%;
		max-width:480px !important;
		z-index:1;
		position:relative;
	}
	.Dom_ConversionHeaderBackgroundImg {
		width:100%;
		max-width:480px !important;	
	}
}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 640px) {
/* Styles */
	.Dom_ConversionHeaderBackground {
		width:100%;
		max-width:640px !important;
		z-index:1;
		position:relative;
	}
	.Dom_ConversionHeaderBackgroundImg {
		width:100%;
		max-width:640px !important;	
	}
}
@media only screen 
and (min-device-width : 641px) 
and (max-device-width : 899px) {
/* Styles */
	.Dom_ConversionHeaderBackground {
		width:100%;
		max-width:899px !important;
		z-index:1;
		position:relative;
	}
	.Dom_ConversionHeaderBackgroundImg {
		width:100%;
		max-width:899px !important;	
	}
}
@media only screen 
and (min-device-width : 900px) {
/* Styles */
	.Dom_ConversionHeaderBackground {
		width:900px;
		max-width:900px !important;
		z-index:1;
		position:relative;
	}
	.Dom_ConversionHeaderBackgroundImg {
		width:100%;
		max-width:900px !important;	
	}
}