/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);


.custom-logo { background-image: url(../../../../../images/yootheme/logo_red.png); }

.frontpage-teaser1 { background-image: url(../../../../../images/yootheme/demo/slideshow/infinite_teaser1_red.jpg); }

.frontpage-features .bfc-o p { min-height:120px; }
