@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
#div2 {
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
} 

/*DOM Styles*/
.dom_Conversion_Header_YearMakeModel {
	background: #000;
	width: 100%;
	padding-top:3px;
	padding-bottom:3px;
	line-height:14px;
	color:#ffffff; 
	font-family:Arial, 
	Helvetica, sans-serif;
}
.dom_Conversion_Header_YearMake {
	font-size:12px;
}
.dom_Conversion_Header_Model {
	font-size:14px;
}
.dom_Conversion_Header_YearMakeModel h1 {
	margin-left:20px;
}
.dom_Conversion_Header_RequestQuote {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.dom_Conversion_Header_RequestQuote a img {
	/* 194 * 48 */
	width:100%;
}
.dom_Conversion_Header_Inventory {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.dom_Conversion_Header_Inventory a img {
	width:100%;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
#div2 {
}
.zeroMargin_tablet {
margin-left: 0;
}
.hide_tablet {
display: none;
}

/* DOM Styles */
.dom_Conversion_Header_YearMakeModel {
	background: #000;
	width: 100%;
	padding-top:5px;
	padding-bottom:5px;
	line-height:14px;
	color:#ffffff; 
	font-family:Arial, 
	Helvetica, sans-serif;
	position:relative;
}
.dom_Conversion_Header_YearMake {
	font-size:12px;
}
.dom_Conversion_Header_Model {
	font-size:14px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 900px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
#div2 {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}

/*DOM Styles */
.dom_Conversion_Header_YearMakeModel {
	background: #000;
	width: 100%
	padding-top:5px;
	padding-bottom:5px;
	line-height:14px;
	color:#ffffff; 
	font-family:Arial, 
	Helvetica, sans-serif;

}
.dom_Conversion_Header_YearMake {
	font-size:21px;
}
.dom_Conversion_Header_Model {
	font-size:28px;
}


}
@media only screen and (min-width: 900px) {

.gridContainer {
	width: 88.5%;
	max-width: 900px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
#div2 {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}

/*DOM Styles */
.dom_Conversion_Header_YearMakeModel {
	background: #000;
	width: 300px;
	padding-left:20px;
	padding-right:35px;
	padding-top:10px;
	padding-bottom:10px;
	line-height:14px;
	color:#ffffff; 
	font-family:Arial,Helvetica, sans-serif;
	margin-top:-350px;
	margin-left:60%;
	position:relative;
	
}
.dom_Conversion_Header_YearMake {
	font-size:21px;
}
.dom_Conversion_Header_Model {
	font-size:28px;
}
.dom_Conversion_Header_RequestQuote {
	width:200px;
	margin-top:25px;
	margin-left:70%;
	position:relative;
}
.dom_Conversion_Header_Inventory {
	width:200px;
	margin-top:25px;
	margin-left:70%;
	position:relative;
}

}