<center>
<table bgcolor="#e2e2e2" border="0" cellspacing="0" cellpadding="0" width="900">
<tr style="background:none !important;"><td>


<!--BEGIN TOP SPLASH-->
<table border="0" cellspacing="0" cellpadding="0" width="900" height="370" style="background: url('http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-01.jpg') no-repeat;"><tr style="background:none !important;"><td width="900" valign="top">
<table width="900" height="370" border="0" cellspacing="0" cellpadding="0"><tr style="background:none !important;"><td colspan="2" width="900" height="20"></td></tr>
<tr style="background:none !important;"><td width="600"></td><td width="300" align="left" bgcolor="#727272" style="line-height:14px; color:#ffffff; font-family:Arial, Helvetica, sans-serif; padding-left:20px; padding-right:35px; padding-top:17px; padding-bottom:13px;"><h1 style="display:inline; line-height:14px; color:#ffffff; font-size:28px;"><span style="font-size:21px;">2014 Nissan</span> Rogue</h1></td></tr><tr style="background:none !important;"><td></td><td align="right" width="225" valign="top" style="padding-top:20px; padding-right:25px;"><a href="http://www.myhudsonnissan.com/contact.htm" title="Request A Quote"><img src="http://clients.dealeronlinemarketing.com/Client/_Buttons_/Conversion-Nissan-Quote.png" border="0" alt="Request A Quote" style="display: block;" /></a><br /><a href="http://www.myhudsonnissan.com/new-inventory/index.htm?model=Rogue&&&&" title="Check Our Inventory"><img src="http://clients.dealeronlinemarketing.com/Client/_Buttons_/Conversion-Nissan-Inventory.png" border="0" alt="Check Our Inventory" style="display: block;"/></a></td>




</tr><tr style="background:none !important;"><td colspan="2" width="900" height="100%"></td></tr>
</table><tr style="background:none !important;"><td width="900"></td></tr></table>
<!--END TOP SPLASH--> 











<!--BEGIN ICON STRIP-->
<table border="0" cellspacing="0" cellpadding="0" width="900" height="120">
<tr style="background:none !important;">
<td><img src="http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-02.jpg" alt="Top Selling Features" height="120" usemap="#Map" border="0" /></td>
</tr>
</table>
<!--END ICON STRIP--> 










<!--BEGIN TOP BODY TEXT STRIP-->
<table border="0" cellpadding="0" cellspacing="0" width="900">
<tr style="background:none !important;">
<td style="padding-top:25px; padding-right:40px; padding-bottom:25px; padding-left:35px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;">For 2014, the all-new Nissan Rogue is fully redesigned from the inside out! Its new exterior can essentially be described as style cloaked in steel. Inside its new and roomy interior is more than enough space for the ones you love and the things you care about. Furthermore, the 2014 Rogue provides technology that keeps you connected to more than just the road. Nissan declares, “The all-new 2014 Rogue comes equipped with a suite of standard safety, driving, and convenience features designed to help inspire confidence behind the wheel, and make every ride better, safer, and more enjoyable.” You can test-drive a 2014 Nissan Rogue in North Charleston, SC, at Hudson Nissan, serving customers throughout the Lowcountry. Since opening our doors, Hudson Nissan has kept a firm commitment to our customers. We offer a wide selection of vehicles and hope to make the car-buying process as quick and hassle free as possible. You can trust that Hudson Nissan will get you into the car or truck you choose with professionalism and attention to your needs.</td>
</tr>
</table>
<!--END TOP BODY TEXT STRIP--> 











<!--BEGIN INFO TABLES-->
<table border="0" cellpadding="0" cellspacing="0" width="900">
<tr style="background:none !important;">
<td width="30"></td>
<td width="830" align="center" valign="top" bgcolor="#373737"><table width="830" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;"><td colspan="5" height="10" width="900"></td></tr>
<tr style="background:none !important;">
<td width="260" align="center" valign="top">











<table width="255" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td align="left" valign="top" style="padding-top:5px; padding-left:25px; padding-right:20px; padding-bottom:1px;"><h3 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ca0d43; display:inline;">PERFORMANCE</h3>
</td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="padding-left:20px; padding-right:20px; padding-bottom:10px; color:#d81921"><img src="http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-03.jpg" alt="Performance"></td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="font-family:Arial, Helvetica, sans-serif; padding-right:20px; padding-bottom:20px; color:#222222"><table width="255" height="75" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td width="20"></td>
<td width="235" valign="top"><ul>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">2.5-liter inline four-cylinder engine</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Continuously variable automatic transmission</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Standard front-wheel drivetrain; Optional intuitive all-wheel drivetrain</li>
</ul></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="15" height="350"></td>
<td width="260" align="center" valign="top"><table width="255" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td align="left" valign="top" style="padding-top:5px; padding-left:25px; padding-right:20px; padding-bottom:1px;"><h3 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ca0d43; display:inline;">EXTERIOR</h3>
</td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="padding-left:20px; padding-right:20px; padding-bottom:10px; color:#d81921"><img src="http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-04.jpg" alt="Exterior"></td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="font-family:Arial, Helvetica, sans-serif; padding-right:20px; padding-bottom:20px; color:#222222"><table width="255" height="75" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td width="20"></td>
<td width="235" valign="top"><ul>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Halogen headlights</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Roof rails (SV &amp; SL)</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Power liftgate (SL)</li>
</ul></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="15" height="350"></td>
<td width="260" align="center" valign="top"><table width="255" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td align="left" valign="top" style="padding-top:5px; padding-left:25px; padding-right:20px; padding-bottom:1px;"><h3 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ca0d43; display:inline;">INTERIOR</h3>
</td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="padding-left:20px; padding-right:20px; padding-bottom:10px; color:#d81921"><img src="http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-05.jpg" alt="Interior"></td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="font-family:Arial, Helvetica, sans-serif; padding-right:20px; padding-bottom:20px; color:#222222"><table width="255" height="75" border="0" cellpadding="0" cellspacing="0">

<tr style="background:none !important;">
<td width="20"></td>
<td width="235" valign="top"><ul>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Rear passenger air conditioning vents</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Integrated Key with remote keyless entry</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Divide-N-Hide&reg; Cargo System</li>
</ul></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="30"></td>
</tr>
</table>










<table border="0" cellpadding="0" cellspacing="0" width="900">
<tr style="background:none !important;">
<td width="30"></td>
<td width="830" align="center" valign="top" bgcolor="#373737"><table width="830" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td width="260" align="center" valign="top"><table width="255" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td align="left" valign="top" style="padding-top:5px; padding-left:25px; padding-right:20px; padding-bottom:1px;"><h3 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ca0d43; display:inline;">TECHNOLOGY</h3>
</td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="padding-left:20px; padding-right:20px; padding-bottom:10px; color:#d81921"><img src="http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-06.jpg" alt="Technology"></td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="font-family:Arial, Helvetica, sans-serif; padding-right:20px; padding-bottom:20px; color:#222222"><table width="255" height="75" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td width="20"></td>
<td width="235" valign="top"><ul>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Advanced Drive-Assist&reg; Display</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">NissanConnect&trade;</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Hands-free text messaging assistant</li>
</ul></td>
</tr>
</table></td>
</tr>
</table></td>

<td width="15" height="300"></td>

<td width="260" align="center" valign="top"><table width="255" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td align="left" valign="top" style="padding-top:5px; padding-left:25px; padding-right:20px; padding-bottom:1px;"><h3 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ca0d43; display:inline;">SAFETY</h3>
</td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="padding-left:20px; padding-right:20px; padding-bottom:10px; color:#d81921"><img src="http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-07.jpg" alt="Safety"></td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="font-family:Arial, Helvetica, sans-serif; padding-right:20px; padding-bottom:20px; color:#222222"><table width="255" height="75" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td width="20"></td>
<td width="235" valign="top"><ul>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Nissan Advanced Air Bag System</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Vehicle Dynamic Control with Traction Control System</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Zone Body construction with front and rear crumple zones</li>
</ul></td>
</tr>
</table></td>
</tr>
</table></td>










<td width="15" height="300"></td>







<td width="260" align="center" valign="top"><table width="255" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td align="left" valign="top" style="padding-top:5px; padding-left:25px; padding-right:20px; padding-bottom:1px;"><h3 style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ca0d43; display:inline;">OPTIONS</h3>
</td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="padding-left:20px; padding-right:20px; padding-bottom:10px; color:#d81921"><img src="http://clients.dealeronlinemarketing.com/Car-Research/Nissan/2014/Rogue/images/Image-08.jpg" alt="Additional Options"></td>
</tr>
<tr style="background:none !important;">
<td valign="top" style="font-family:Arial, Helvetica, sans-serif; padding-right:20px; padding-bottom:20px; color:#222222"><table width="255" height="65" border="0" cellpadding="0" cellspacing="0">
<tr style="background:none !important;">
<td width="20"></td>
<td width="235" valign="top"><ul>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Forward Collision Warning (Optional on SL)</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Fog lights (SL)</li>
<li style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#ffffff;">Nissan Navigation System (SL)</li>
</ul></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="30"></td>
</tr>
</table>
<!--END INFO TABLES--> 











<!--BEGIN MIDDLE BODY TEXT STRIP-->
<table border="0" cellpadding="0" cellspacing="0" width="900">
<tr style="background:none !important;">
<td style="padding-top:25px; padding-right:40px; padding-bottom:25px; padding-left:35px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;">When your 2014 Nissan Rogue needs scheduled maintenance or repairs, look no further than Hudson Nissan, where our certified technicians are trained to handle your service needs quickly and affordably. Whether you need a battery, oil change, tune-up, brake repair, transmission service, alignment, tire repair, shock or strut replacement, air conditioning maintenance or engine repair, we are here to assist.</td>
</tr>
</table>
<!--END MIDDLE BODY TEXT STRIP--> 













<!--BEGIN PROMO PHOTOS-->
<table border="0" cellspacing="0" cellpadding="0" width="900">


<tr style="background:none !important;">
<td width="35" height="45"></td>
<td width="400" valign="center" align="left" bgcolor="#727272" style="padding-left:20px; padding-top:9px;"><h2 style="font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#ffffff; font-weight:100; display:inline; line-height:10px;">2014 Nissan <span style="font-weight:bold;">Rogue</span></h2></td>
<td valign="center" align="right" style="background-color:#727272; padding-right:20px; padding-top:1px;"><a href="http://www.myhudsonnissan.com/new-inventory/index.htm?model=Rogue&&&&" title="View Inventory"><img src="http://clients.dealeronlinemarketing.com/Client/_Buttons_/Conversion-Nissan-Inventory.png" alt="View Our Inventory" border="0" style="display: block;"></a></td>
<td width="35"></td>
</tr>
</table>
<!--END PROMO PHOTOS--> 











<!--BEGIN BOTTOM BODY TEXT STRIP-->
<table border="0" cellpadding="0" cellspacing="0" width="900">
<tr style="background:none !important;">
<td style="padding-top:25px; padding-right:40px; padding-bottom:25px; padding-left:35px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;">If you’re looking to customize your new 2014 Nissan Rogue, Hudson Nissan can help you with parts and aftermarket accessories. Our Parts Department keeps a comprehensive inventory of OEM auto parts, and if we don’t have a part or accessory you need on hand, we will be more than happy to order it for you. We even have an eStore where you’ll find Genuine Nissan Parts and Accessories that deliver model-specific engineering, perfect fit, reliability and like-new performance!<br><br> 
If you’d like to purchase or lease the 2014 Nissan Rogue in North Charleston, SC, drop by <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.myhudsonnissan.com%2Fdealership%2Fdirections.htm&sa=D&sntz=1&usg=AFQjCNFSB5MUcc-fPGV808zTuluJDivP-w">Hudson Nissan at 7331 Rivers Avenue, North Charleston, SC 29406</a> for a test-drive. We look forward to seeing our customers from North Charleston, SC, and throughout Goose Creek, Summerville and the entire Lowcountry!</td>
</tr>
</table>
<!--END BOTTOM BODY TEXT STRIP--> 








<!--BEGIN CROSS SELL-->
<table border="0" cellspacing="0" cellpadding="0" width="900" bgcolor="#f2f2f2"><tr style="background:none !important;"><td width="900" colspan="6" style="padding-left:40px; padding-bottom:10px; padding-top:10px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;">You May Also Be Interested In:</td></tr><tr style="background:none !important;"><td width="40">&nbsp;</td>	<td width="225" style="color:#000000;">
<a href="http://www.myhudsonnissan.com/new-inventory/index.htm?model=Pathfinder&&&&" title="View Inventory">
<img src="http://clients.dealeronlinemarketing.com/Car-Research/Images/2013-Pathfinder.png" alt="View Our Inventory" border="0" style="display: block;"></a></td>	
<td width="185" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000;">
2013 Nissan Pathfinder<br />
<a href="http://www.myhudsonnissan.com/new-inventory/index.htm?model=Pathfinder&&&&" title="View Inventory">
<img src="http://clients.dealeronlinemarketing.com/Client/_Buttons_/Conversion-Nissan-Inventory.png" alt="View Our Inventory" border="0" style="display: block; width:168px; padding-top:5px;"></a></td>
<td width="25">&nbsp;</td>	<td width="225">
<a href="http://www.myhudsonnissan.com/new-inventory/index.htm?model=Murano&&&&" title="View Inventory">
<img src="http://clients.dealeronlinemarketing.com/Car-Research/Images/2013-Murano.png" alt="View Our Inventory" border="0" style="display: block;"></a></td>
<td width="200" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000;">
2013 Nissan Murano<br />
<a href="http://www.myhudsonnissan.com/new-inventory/index.htm?model=Murano&&&&" title="View Inventory"><img src="http://clients.dealeronlinemarketing.com/Client/_Buttons_/Conversion-Nissan-Inventory.png" alt="View Our Inventory" border="0" style="display: block; width:168px; padding-top:5px;"></a></td></tr>	
<tr style="background:none !important;"><td width="900" colspan="6" height="5" style="line-height:5px; font-size:5px;">&nbsp;</td></tr></table>
<!--END CROSS SELL-->









<!--BEGIN DISCLAIMER-->
<table border="0" cellpadding="0" cellspacing="0" width="900">
<tr style="background:none !important;">
<td style="padding-top:15px; padding-right:40px; padding-bottom:10px; padding-left:35px; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:10px; text-align:justify;"><hr style="margin-top:-1px;" />
<br />
*Based on 2014 EPA mileage ratings. Use for comparison purposes only. Your actual mileage will vary depending on how you drive and maintain your vehicle.</td>
</tr>
</table>
<!--END DISCLAIMER--></td>
</tr>
</table>
</center>









<map name="Map" id="Map">
<area shape="rect" coords="676,11,872,109" href="http://www.nissanusa.com/crossovers/2014-rogue/versions-specs/" title="Download Our Brochure" />
</map>
</center>
