<head><title>Hoover Toyota | Service Department</title><link rel="stylesheet" type="text/css" href="http://cache.automotive.stringcontent.com/publishing/css/reset.css?v=09132011"><link rel="stylesheet" type="text/css" href="http://cache.automotive.stringcontent.com/publishing/css/fonts.css"><link rel="stylesheet" type="text/css" href="http://cache.automotive.stringcontent.com/publishing/css/menu/menu_base.css"><link rel="stylesheet" type="text/css" href="http://cache.automotive.stringcontent.com/publishing/js/sencha/extjs/resources/css/ext-all-gray.css"><link rel="shortcut icon" href="http://cache.automotive.stringcontent.com/publishing/images/favicon/string_logo.ico"><script async="" src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.Xh27AGpQ8ys.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AItRSTOjHu85ttPOX7Dcbu5iIjt894HaVw/cb=gapi.loaded_0"></script><script type="text/javascript" src="http://cache.automotive.stringcontent.com/publishing/js/sencha/extjs/ext-all.js"></script><script type="text/javascript" src="http://cache.automotive.stringcontent.com/publishing/js/string.js?v=04122012"></script><link rel="stylesheet" type="text/css" href="http://cache.automotive.stringcontent.com/cms/F8E67BED9AC0C33046D555B0425078B8.css?ts=1401735341033"><style type="text/css">body {background-color: #FFFFFF; background-image: url(http://cache.automotive.stringcontent.com/cms/ED17C953B5B3C0A099D7E243C888446B.jpg);background-repeat:repeat-y;background-attachment:scroll;background-position:center top;} #bodydiv {  width: 980px; height: auto; min-height: 200px; margin: 0 auto; } #footerdiv {  width: 980px; height: 40px; margin: 0 auto; } #headerdiv {  width: 980px; height: 90px; margin: 0 auto; } #navdiv {  width: 980px; height: 40px; margin: 0 auto; }  .headline {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}</style><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<meta name="viewport" content="width=device-width">




<style>

/*set main styles */



body {
background:url('http://content.string.captivelead.com/cms/custom/Hoover+Toyota/bg.jpg') repeat-x #fff;
font-family: Helvetica, sans-serif !important;
color:#464646;
}



.x-body {
font-family: Helvetica, sans-serif !important;
}



a {
text-decoration:none;
color:#2787c7;
}

a:hover {
font-style: italic;
}

p {
line-height: 120%;
color:#464646;
font-size:12px;
}

small {
line-height: 120%;
color:#AAB0B4;
font-size:12px;
}


strong {
font-weight:bold;
}

i {
font-style:italic;
}

blockquote {
margin:20px;
padding-left:20px;
border-left:2px solid #2787C7;
}

blockquote p {
font-size:12px;
margin:0 0 5px 0;
}


h1, h2, h3, h4, h5, h6 {
clear:both;
font-family: Helvetica, sans-serif;
line-height: 120%;
}

h1 {
color:#002b4e;
font-size:20px;
}

h2 {
font-size: 18px;
color:#111;
}

h3 {
font-size: 16px;
color:#111;
}


img {
max-width:100%;
}

.clearAll {
clear:both;
}

#bodydiv ul li {
list-style: none;
margin-left: 0px;
}


#bodydiv ul  {
list-style: none;
margin-left: 0px;
}


#headerdiv, #bodydiv, #footerdiv, #focaldiv, #navdiv {
width:98%;
margin:0 auto;
max-width:980px;
}


#pull, .Mobile {
display:none !important;
}


/*header */

#headerdiv {
height: auto;
max-height: 150px;
}

.logo {
float: left;
max-width: 420px;
padding: 10px 0;
}

.headerCenter {
float:left;
}

.headerRight {
float:right;
text-align:right;
}

.phoneNumbers {
clear:both;
}

.phoneNumbers {
padding: 10px 0 5px 0;
}

.phoneNumbers p {
color:#000;
font-size:17px;
}


.phoneNumbers a {
color:#626368;
font-size:32px;
}

.address p {
color:#464646;
font-size:17px;
}

#google_translate_element, #googleplusone {
float:right !important;
}

#googleplusone {
margin: 12px 0 0 0 !important;
}

#google_translate_element {
margin:0px 5px;
}

#ActivEngageChatButton {
max-width: 115px;
margin-left: 169px;
}

/*nav*/

#navdiv {
height: 55px;
}

.Moveright {
margin-left: -161px !important;
}

.menu {
height:30px;
background:url('http://content.string.captivelead.com/cms/custom/Hoover+Toyota/navBG.jpg') repeat-x;
width:100%;
max-width:980px;
}

.menu a {
color: #fff;
font-size: 12px;
padding: 0 28.5px;
display: block;
position: relative;
line-height: 30px;
height: 30px;
text-transform: uppercase;
}

.menu ul li {
color: #737679;
background: #B6B6B6;
}

.menu ul li a {
color: #464646;
background: #B6B6B6;
padding: 0 15px;
border-bottom: 1px solid #E7E8E9;
border-left: 1px solid #E7E8E9;
border-right: 1px solid #E7E8E9;
}

.menu ul li a:hover {
background:#E0E0E0;
color:#BC2027;
}

.menu ul {
width: 310px;
}

.menu a:hover, .menu li:hover>a {
background:#B6B6B6;
color:#BC2027;
}


.menu li li {	
border: 0px solid #ccc; /*overwrite for theme styles*/
}



/*Home Page Inventory Search */

.focalLeftWrap {
float: left;
width: 30%;
max-width: 227px;
}

.focalBreak {
margin-top: 10px;
border-top: 2px solid #d7d7d7;
padding-top: 10px;
}

.focalLeftWrap h2 {
background: url('http://content.string.captivelead.com/cms/custom/Bud+Brown/Images/mag.png') no-repeat;
color: #808285;
font-size: 12px;
padding-left: 20px;
margin-bottom: 5px;
}

.drop_down_area select {
padding: 5px;
font-size: 12px;
color: #b0b0b0;
line-height: 1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-appearance: none;
width: 100%;
height: 25px;
background: url(http://cache.automotive.stringcontent.com/cms/1B3FF6C6C9F8B19CFC187FD0A45371DD.png) no-repeat #FFF;
background-position: 208px 2px;
overflow: hidden;
border: 1px solid #b0b0b0;
text-overflow: ellipsis;
margin: 2px 0 4px 0px;
}

a.go {
background: url('http://content.string.captivelead.com/cms/custom/Bud+Brown/Images/yellowSearch.png') no-repeat;
width: 227px;
height: 33px;
color: #58595b;
display: block;
font-size: 16px;
padding: 9px 0 0 10px;
}

a.go:hover {
font-style:italic;
}

#directionButton {
background: url('http://content.string.captivelead.com/cms/custom/Bud+Brown/Images/yellowSearch.png') no-repeat;
width: 227px;
height: 33px;
color: #58595b;
display: block;
font-size: 16px;
padding: 0 15px;
text-transform: capitalize;
border: none !important;
margin: 5px 0 0 0 !important;
text-align: left;
}

#directionButton:hover {
font-style:italic;
cursor:hand;
cursor:pointer;
}

.focalBreak input  {
padding: 5px;
font-size: 12px;
color: #b0b0b0;
line-height: 1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-appearance: none;
width: 100%;
height: 25px;
overflow: hidden;
border: 1px solid #b0b0b0;
text-overflow: ellipsis;
margin: 2px 0 4px 0px;
}

/*slideshow*/

.slideShow {
float:right;
max-width:700px;
}

/*home page buttons */

.blueButtons {
margin: 25px 0 10px 0;
}

.blueButtons li a {
display: block;
float: left;
color: #fff;
background: url('http://content.string.captivelead.com/cms/custom/Hoover+Toyota/redButton.png') no-repeat;
width: 180px;
height: 50px;
font-size: 16px;
text-align: center;
padding-top: 18px;
margin-right: 20px;
}

.lastBlue {
margin-right: 0px !important;
}

/*special slider */

.infiniteCarousel {
width: 100%;
max-width:980px;
position: relative;
clear: both;
 background:url('http://content.string.captivelead.com/cms/custom/Bud+Brown/Images/sliderBG.png') no-repeat;
height: 151px;
}

.infiniteCarousel .wrapper {
width: 940px;
overflow: hidden;
min-height: 10em;
position: absolute;
top: 0;
left: 20px;
height: 151px;
}

.infiniteCarousel ul a img {
 
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
display: block;
float: left;
width: 330px;
height: 151px;
padding: 10px 5px;
margin-left: 8px !important;
border-left: 2px solid #D7D7D7;
}

.infiniteCarousel ul li a img {
  display:block;
width:320px;
max-width:320px;
}

.infiniteCarousel .arrow {
display: block;
height: 48px;
width: 15px;
background: url(http://content.string.captivelead.com/cms/custom/Bud+Brown/Images/arrow.png) no-repeat 0 0;
text-indent: -999px;
position: absolute;
top: 45px;
cursor: pointer;
}

.infiniteCarousel .forward {
background-position: 0 0;
right: 0;
padding-right: 20px;
}
.infiniteCarousel .back {
  background-position: 0 -101px;
left: 5px;

}

.infiniteCarousel .forward:hover {
  background-position: 0 -51px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -151px;
}

/*home left and right text areas */

.lowerContentWrap {
margin-top:25px;
}

.leftContent {
float:left;
width:25%;
padding-right:15px;
}

.leftContent h1 {
margin-bottom:10px;
font-size:16px;
}

.leftContent p {
text-align:justify;
}

.rightContent  {
float:right;
width:25%;
padding-left: 15px;
}

.socialWrap {
margin-bottom:10px;
}

.socialWrap li {
float:left;
margin-left: 10px !important;
}

.hoursContent {
clear:both;
padding-top: 10px;
}

.hoursContent strong {
margin-bottom:5px;
font-size:14px !important;
}

.hoursContent p {
font-size: 12px;
margin: 5px 0;
}

.darker {
color: #000;
font-size: 14px !important;
margin: 5px 0px;
font-weight: bold;
}


.lowerContactUs a {
background: url('http://content.string.captivelead.com/cms/custom/Bud+Brown/Images/yellowSearch.png') no-repeat;
width: 227px;
height: 33px;
color: #58595b;
display: block;
font-size: 17px;
padding: 8px 15px;
text-transform: capitalize;
border: none !important;
margin: 0 !important;
text-align: left;
}

/*home special tabs */

.tabWrap {
width:50%;
float:left;
}

.tabs li a {
float: left;
display: block;
color: #58595B;
text-align: center;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
width: 25%;
padding: 10px 0;
font-size:12px;
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tabs li a:hover {
-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
background:#CFD2D6;
}

.active {
-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5) !important
-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5)  !important;
box-shadow: 0 0 0px rgba(0, 0, 0, 0.5)  !important;
background:#CFD2D6;
}

#tab1, #tab2, #tab3 {
clear: both;
border: 1px solid #F3F3F3;
-webkit-border-radius: 5px;
-webkit-border-top-left-radius: 0;
-moz-border-radius: 5px;
-moz-border-radius-topleft: 0;
border-radius: 5px;
border-top-left-radius: 0;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 53%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(53%,#f1f1f1));
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 53%);
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 53%);
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 53%);
background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 53%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
margin-top: -2px;
position: relative;
}

#new0 {
border-bottom:2px solid #D7D7D7;
}

.specialOuter {
clear:both;
}

.specialOuter {
padding:15px;
}

.carPhoto {
float:left;
max-width:150px;
}

.SpecialPrice {
color:#58595b;
font-size:18px;
padding: 10px 0px;
}

.MSRPbiggerPrice {
font-size:12px;
text-decoration:line-through;
}

.biggerPrice {
font-size:16px;
}

.lowerPrice, .usedSpecialPrice {
text-transform:uppercase;
color:#5C5C5C;
}

.biggerPrice, .usedbiggerPrice {
color: #BC2027;
font-size:18px;
font-weight:bold;
}
.car-details, .smallDetails, .DetailsButton {
float: left;
max-width: 290px;
padding-left: 20px;
}

.smallDetails {
color:#666;
font-size:11px;
}

.DetailsButton {
display: block;
background: url('http://content.string.captivelead.com/cms/custom/Bud+Brown/Images/smallYellow.png') no-repeat;
width: 88px;
height: 23px;
color: #58595b;
margin: 10px 0 0 20px;
text-align: left;
padding: 4px 9px;
font-size: 13px;
}

.car-details a {
color:#404040;
}
/*footer*/

#footerdiv {
height:auto;
background:#CFD2D6;
padding:25px 10px;
}


.foot_right {
clear:both;
margin-top:25px;
max-width:150px;
}

.foot_menu {
padding-top:10px;
}

.foot_menu li a {
display:block;
color:#464646;
float:left;
margin-right:10px;
}


/* SRP pages settings */

.dealerDiscountList {
font-size: 11px;
padding: 3px 0;
margin-bottom: 3px;
border-bottom: 1px dotted #ddd;
max-width: 50%;
}

/*lower pages - main settings*/

.sideBar {
float: right;
width: 28%;
border-left: 2px solid #BC2027;
padding-left: 15px;
}

.fullWidth {
float: none !important;
width: 100% !important;
margin-left: 58px !important;
position: relative;
z-index: 10;
}

.hoursWrap {
margin: 5px 0px 15px 0px;
}

.hoursWrap h2 {
font-weight: bold;
color: #999;
text-transform: uppercase;
font-size: 13px;
}

.hoursWrap h3 {
font-weight: bold;
color: #999;
text-transform: uppercase;
font-size: 13px;
}

.sidebarSearch a {
display: block;
padding: 5px;
border: 1px solid #464646;
margin: 10px 0px;
color: #FFF;
background: #BC2027;
text-transform: uppercase;
font-size: 13px;
}

.phoneSideBar a {
font-weight:bold;
color: #BC2027;
font-size: 18px;
line-height: 130%;
}

.leftSide {
float: left;
width: 70%;
}



/*lower page custom additions */

.foaclImage {
display:block;
margin:5px auto;
border:3px solid #ddd;
}

@media screen and (max-width: 1000px) {

.menu a {
padding: 0 22.5px;
}

.blueButtons li a {
background-size:100%;
-moz-background-size:100%;
width: 19%;
margin-right: 10px;
}

.slideShow {
float: right;
max-width: 670px;
}

.car-details, .smallDetails, .DetailsButton {
max-width: 265px;
}

.infiniteCarousel .wrapper {
width: 98%;
}
.lowerContactUs a {
background-size:100%;
-moz-background-size:100%;
width: 80%;
font-size: 13px;
padding: 6px 15px;
}

.leftContent {
float: none;
width: 100%;
padding: 15px;
}

.rightContent {
float: right;
width: 30%;
padding-left: 15px;
}

.tabWrap {
width: 70%;
float: left;
}
}

@media screen and (max-width: 970px) {

#headerdiv {
height: auto;
max-height: 97px;
}

.headerWrapper {
max-width: 720px;
margin: 0 auto;
}


.logo {
float: left;
max-width: 33%;
padding: 0 12px;
}


.googleWrap {
display:none;
}

#ActivEngageChatButton {
max-width: 118px;
margin-left: 135px;
}

.address p {
color: #464646;
font-size: 15px;
}

.phoneNumbers {
padding-top:5px;
}

.phoneNumbers a {
color: #626368;
font-size: 25px;
display: block;
}

.logo, .headerCenter, .headerRight {
width:33%;
}
}

@media screen and (max-width: 900px) {

.menu a {
font-size: 12px;
}

.focalLeftWrap {
float: none;
width: 100%;
max-width: 800px;
margin: 0 auto;
}

.drop_down_area select {
width: 24%;
margin: 3px 3px 10px 0;
float:left;
}

a.go {
clear: both;
}

.focalBreak input {
width: 24%;
margin: 3px;
float:left;
}

#directionButton {
margin: -14px 0 0 0 !important;
float: left;
}

.slideShow {
float: none;
max-width: 670px;
clear: both;
margin: 5px auto;
padding-top: 10px;
}

#focaldiv {
height:auto;
}



}

@media screen and (max-width: 850px) {

.menu a {
font-size: 12px;
padding: 0 15px;
}

.Moveright {
margin-left: -170px !important;
}


#focaldiv {
padding-top: 20px;
}

.blueButtons li a {
font-size: 16px;
padding-top: 18px;
width: 18%;
}

.infiniteCarousel {
display:none;
}

.rightContent {
width: 33%;
}

.tabWrap {
width: 65%;
}


.leftSide {
float: none;
width: 100%;
}

.sideBar, #priceMenu, #bodyStyleMenu {
display:none;
}

div.inventory-listing-vehicle-image img {
max-width: 156px;
}

div.inventory-listing-vehicle-spec-item-name {
width: 85px;
font-weight: normal;
}
}


@media screen and (max-width: 765px) {

#headerdiv {
max-height:10000px;
}

#focaldiv {
padding-top:0;
}


/*start responsive nav */
#navdiv {
display:none;
}


.responsive {
display:block;
}

.menu {
height:auto;
width:100%;
}

#pull {
background: #0e6ec8;
width: 100% !important;
color:#FFF;
display: block !important;
text-align: center;
line-height: 32px;
padding: 0 1.7em;
background: url(http://cache.automotive.stringcontent.com/cms/16CE342B97F1B5B90BC16DA2C2B78A88.png) no-repeat center right #D93F3F;
clear: both;
margin-top: 25px;
}

#pull:hover {
cursor:pointer;
cursor:hand;
}


.hasUL_top {
line-height: 32px;
background: url(http://cache.automotive.stringcontent.com/cms/B59CCF94A40A807C2DFBED91BBFA177D.jpeg) no-repeat right #DCDCDC !important;

}

.menu ul {
border-left: 0px solid #690300;
border-right: 0px solid #690300;
border-bottom: 0px solid #690300;
}

.menu ul li a {
border-top: 0px solid #690300;
}

.menu li {
border-right: 0px solid #ff5c57;
border-left: 0px solid #810400;
}

.menu ul {
width: 100% !important;
visibility: visible;
position: relative;
}

ul.right {
margin-left:0px !important;
}

.menu a {
color: #424242 !important;
line-height: 32px;
padding-left:20px;
}

.menu ul li a {
text-align:center !important;
display:block;
color: #424242;
text-align:left !important;
background:#FAFAFA;
}

.menu li {
float:none;
border-top: 1px solid #FFF;
background:#DCDCDC;
}


.responsive li a:hover {
text-decoration:none !important;
background:#FFF !important;
background-image:none !important;

}

.responsive li:hover>a {
text-decoration:none !important;
background:#FFF !important;
background-image:none !important;

}



}

@media screen and (max-width: 759px) {

#inventory_menu_area, .focalBreak {
display:none;
}

.blueButtons {
width:30%;
float:left;
margin: 0;
}

.blueButtons li a {
width: 100%;
max-width:180px;
margin:5px auto;
float:none;
}

.lastBlue {
margin-right: auto !important;
}

.leftContent {
display:none;
}

.tabs li a {
display:none;
}

#tab2, #tab3  {
display:none;
}

.rightContent {
width: 100%;
clear: both;
max-width: 300px;
padding-top: 10px;
float: none;
}

.car-details, .smallDetails, .DetailsButton {
max-width: 230px;
}

}


@media screen and (max-width: 650px) {

.redHeaderwithBG {
background-image:none;
}

.redHeaderwithBG h1 {
color:#000;
}

.redHeaderwithBG p {
width: 100%;
padding-top: 5px;
font-size: 12px;
}

#bodydiv_mobile, #bodydiv_mobile_2 {
padding:20px;
}

.x-scroll-bar-y.active {
width: 6px;
background: transparent !important;
}

#ext-siteNavigationPanel-1 {
margin-top:-25px;
}

.headerCenter, #ActivEngageChatButton {
display:none;
}

iframe {
display:none;
}

.Mobile {
display:block !important;
}

.noMobile {
display:none !important;
}

.logo {
float: none;
max-width: 300px;
width: 300px;
margin: 0 auto;
padding-bottom:10px;
}

.tabWrap {
width: 100%;
float: none;
max-width: 500px;
margin: 0 auto;
}

.rightContent {
margin:0 auto;
}

.blueButtons li a {
font-size: 15px;
padding: 10px;
text-align: left;
padding-left: 20px;
width: 100%;
height: auto;
background: #fff url('http://content.string.captivelead.com/cms/custom/HeritageVW/grayArrow.png') no-repeat;
border-top: 1px solid #ccc;
background-position: center right;
background-position: 97% 50%;
max-width:10000px;
color:#464646;
}


.blueButtons {
width: 100%;
float: none;
margin: 0 auto;
}

.lowerContactUs a {
padding: 9px 15px;
}

.mobileHeader p {
text-align: center;
clear: both;
padding: 10px 0 0 0;
font-size: 14px;
}

.mobileHeader a {
font-size:13px;
float: left;
display: block;
text-align: center;
width: 45%;
margin: 0 5px;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
line-height: 1;
padding: 6px 0 7px 0;
text-align: center;
color: white;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  border: 1px solid;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
background: #d5452f;
  border-color: #ae3623 #ae3623 #992f1f;
  background-image: -webkit-linear-gradient(top, #da5c48, #d5452f 66%, #c73d28);
  background-image: -moz-linear-gradient(top, #da5c48, #d5452f 66%, #c73d28);
  background-image: -o-linear-gradient(top, #da5c48, #d5452f 66%, #c73d28);
  background-image: linear-gradient(to bottom, #da5c48, #d5452f 66%, #c73d28);
}

.carPhoto {
float: none;
max-width: 150px;
margin: 0 auto;
}

.car-details, .smallDetails, .DetailsButton {
max-width: 230px;
float: none;
text-align: center;
padding: 0;
margin: 0 auto;
}

.DetailsButton {
padding-top: 3px !important;
margin-top: 5px !important;
}

.foot_menu, .foot_link {
display:none;
}

#footer {
padding:20px;
text-align:center;
}

}

</style>



<meta name="google-translate-customization" content="6ceaf05c019168d1-c2d431b9f9b2c560-g2dff0489f005f011-15">
<script gapi_processed="true" type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>

<script>
function addPlusOne() {
$('.googleWrap').append($('#googleplusone'));
gapi.plusone.render("googleplusone",{"href":"http://www.hoovertoyota.com/"});
}

$(document).ready(function(){
addPlusOne();
});

</script>
<style>

/* service dept*/

.serviceHeader, .servicePageWrap {
max-width: 923px;
margin: 0 auto;
}

.serviceSideBar {
width:240px;
float:left;
background:#4C4D4F;
}

.serviceRight {
float:right;
width:73%;
}

.serviceLinks a {
display:block;
width:229px;
margin:10px auto;
}

.hoursService p {
color:#fff;
text-align:center;
line-height:200%;
}


.direct a {
display:block;
max-width:148px;
margin:10px auto;
}

.couponBlock, .couponImage, .couponText, .underBlock {
 width:50%;
float:left;
}


.couponBlock {
background: #4D4D4D;
text-align: center;
border-top: 10px solid #fff;
border-left: 10px solid #fff;
padding: 15px;
}

.coupHead {
font-size: 18px;
color: #ffdf00 !important;
line-height: 28px;
}

.smallerBlock {
background:#FFF !important;
}

.smallerBlock a {
display:block;
max-width:148px;
margin:5px auto;
}

.underCoupons {
clear:both;
text-align: center;
}

.coupHead {
font-size: 18px;
color: #ffdf00 !important;
line-height: 28px;
}

.couponText p {
color:#FFF;
}

.couponLink {
display:block;
margin-top:10px;
}


@media screen and (max-width: 935px) {


.serviceHeader {
text-align:center;
}

.serviceHeader, .servicePageWrap {
max-width: 700px;
margin: 0 auto;
}

.serviceRight {
float: right;
width: 65%;
}

.couponBlock {
width:100%;
float:none;
min-height: 170px;
}

.smallerBlock {
display:none;
}

.underBlock a {
max-width: 220px;
margin: 10px;
display: block;
}


}

@media screen and (max-width: 705px) {

.serviceHeader, .servicePageWrap {
max-width: 100%;
margin: 0 auto;
padding:20px;
}

.serviceSideBar {
width: 100%;
float: none;
background: #4C4D4F;
text-align: center;
}

.couponBlock {
width: 100%;
float: none;
min-height: 170px;
border: 1px solid #fff;
}

.serviceRight {
float: none;
width: 100%;
}

}


@media screen and (max-width: 500px) {

.underBlock {
width:100%;
float:none;
}

.underBlock a {
max-width: 100%;
margin: 5px auto;
}

}
</style><link href="https://translate.googleapis.com/translate_static/css/translateelement.css" charset="UTF-8" rel="stylesheet" type="text/css"><script src="https://translate.googleapis.com/translate_static/js/element/main.js" charset="UTF-8" type="text/javascript"></script><script src="https://translate.googleapis.com/translate_static/js/element/23/element_main.js" charset="UTF-8" type="text/javascript"></script><style type="text/css" charset="utf-8">/* See license.txt for terms of usage */
/** reset styling **/
.firebugResetStyles {
    z-index: 2147483646 !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    position: fixed !important;
    transform: rotate(0deg) !important;
    transform-origin: 50% 50% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent none !important;
    pointer-events: none !important;
    white-space: normal !important;
}

.firebugBlockBackgroundColor {
    background-color: transparent !important;
}

.firebugResetStyles:before, .firebugResetStyles:after {
    content: "" !important;
}
/**actual styling to be modified by firebug theme**/
.firebugCanvas {
    display: none !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBox {
    width: auto !important;
    position: static !important;
}

.firebugLayoutBoxOffset {
    opacity: 0.8 !important;
    position: fixed !important;
}

.firebugLayoutLine {
    opacity: 0.4 !important;
    background-color: #000000 !important;
}

.firebugLayoutLineLeft, .firebugLayoutLineRight {
    width: 1px !important;
    height: 100% !important;
}

.firebugLayoutLineTop, .firebugLayoutLineBottom {
    width: 100% !important;
    height: 1px !important;
}

.firebugLayoutLineTop {
    margin-top: -1px !important;
    border-top: 1px solid #999999 !important;
}

.firebugLayoutLineRight {
    border-right: 1px solid #999999 !important;
}

.firebugLayoutLineBottom {
    border-bottom: 1px solid #999999 !important;
}

.firebugLayoutLineLeft {
    margin-left: -1px !important;
    border-left: 1px solid #999999 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBoxParent {
    border-top: 0 none !important;
    border-right: 1px dashed #E00 !important;
    border-bottom: 1px dashed #E00 !important;
    border-left: 0 none !important;
    position: fixed !important;
    width: auto !important;
}

.firebugRuler{
    position: absolute !important;
}

.firebugRulerH {
    top: -15px !important;
    left: 0 !important;
    width: 100% !important;
    height: 14px !important;
    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5'%FC6%5DS%95pV%95%01%81%FF'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x !important;
    border-top: 1px solid #BBBBBB !important;
    border-right: 1px dashed #BBBBBB !important;
    border-bottom: 1px solid #000000 !important;
}

.firebugRulerV {
    top: 0 !important;
    left: -15px !important;
    width: 14px !important;
    height: 100% !important;
    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y !important;
    border-left: 1px solid #BBBBBB !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px dashed #BBBBBB !important;
}

.overflowRulerX > .firebugRulerV {
    left: 0 !important;
}

.overflowRulerY > .firebugRulerH {
    top: 0 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.fbProxyElement {
    position: fixed !important;
    pointer-events: auto !important;
}
</style></head><body style="position: relative; min-height: 100%; top: 0px;" id="ext-gen1009" class="x-body x-gecko x-reset"><div id="pull">Menu</div><div id="headerdiv"><div style="display: none;" class="responsive"><ul class="adxm menu"><li><a href="/">Home</a></li><li class="hasUL_top"><a>New Toyotas</a><ul style="display: none;" class="hasUL"><li><a href="/New_Inventory">Search New Toyota Inventory</a></li><li><a href="/Sales_Event">#1 For Everyone</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li><li><a href="/New_Vehicle_Specials">New Hoover Specials</a></li><li><a href="/Product_Demonstrations">Product Demonstrations</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li></ul></li><li class="hasUL_top"><a>Used Vehicles</a><ul style="display: none;" class="hasUL"><li><a href="/Used_Inventory">Search Used Inventory</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li><li><a href="/Used_Inventory/minprice/1/maxprice/%252410%252C000">Bargin Inventory</a></li><li><a href="/Used_Inventory/minprice/1/maxprice/%252410%252C000">Clearance Zone</a></li><li><a href="/Used_Vehicle_Specials">Featured Vehicles</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li><li><a href="/Certified_Pre_Owned">Certified Pre Owned</a></li></ul></li><li class="hasUL_top"><a>Research</a><ul style="display: none;" class="hasUL"><li><a href="/Product_Demonstrations">Live Product Demonstrations</a></li><li><a href="/Comparisions">Comparisions</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li></ul></li><li class="hasUL_top"><a>Finance</a><ul style="display: none;" class="hasUL"><li><a href="/Finance_Application">Finance Application</a></li><li><a href="/Finance_Center">Finance Center</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li></ul></li><li class="hasUL_top"><a>Service</a><ul style="display: none;" class="hasUL"><li><a href="/Service_Department">Toyota Service Center</a></li><li><a href="/Schedule_Service">Schedule Service</a></li><li><a href="/Service_Specials">Service Specials</a></li><li><a href="/Service_Under_25">Services Under $25</a></li><li><a href="/Toyota_Tire_Center">Toyota Tire Center</a></li><li><a href="/Toyota_Batteries">Toyota Batteries</a></li><li><a href="/Toyota_Brake_Service">Toyota Brake Service</a></li><li><a href="/Oil_Change">Oil Change</a></li><li><a href="/ToyotaCare">ToyotaCare</a></li><li><a href="/Meet_Our_Service_Staff">Meet Our Service Staff</a></li><li><a href="/Service_Videos">Service Videos</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li></ul></li><li class="hasUL_top"><a>Parts</a><ul style="display: none;" class="hasUL"><li><a href="/Parts_Department">Parts Department</a></li><li><a href="/Parts_Specials">Parts Specials</a></li></ul></li><li class="hasUL_top"><a>About Us</a><ul style="display: none;" class="Moveright hasUL"><li><a href="/About_Us">About The Dealership</a></li><li><a href="/Dealership_News">Dealership News</a></li><li><a href="/Video_Testimonials">Video Testimonials</a></li><li><a href="/Hours_and_Directions">Hours and Directions</a></li><li><a href="/Contact_Us">Contact Us</a></li><li><a href="/Dealership_Reviews">Dealership Reviews</a></li><li><a href="/Meet_Our_Staff">Meet Our Staff</a></li><li><a href="/Employment">Employment</a></li><li><a href="/ToyotaCare">ToyotaCare</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li><li><a href="/Toyota_Rent_a_Car">Toyota Rent a Car</a></li></ul></li></ul></div><div style="height: 100%; width: 100%; overflow: hidden;"><div class="headerWrapper">
<div class="logo"><a href="/home"><img src="http://content.string.captivelead.com/cms/custom/Hoover+Toyota/hooverLogo.png" alt="Hoover Toyota"> </a></div>
<div class="headerCenter"><img src="http://content.string.captivelead.com/cms/custom/Hoover+Toyota/redCarpet.png" alt="Red Carpet Program"></div>
<div class="headerRight">
<div class="googleWrap">

<div id="google_translate_element">&nbsp;<div style="" dir="ltr" class="skiptranslate goog-te-gadget"><div class="goog-te-gadget-simple" style="white-space: nowrap;" id=":0.targetLanguage"><img style="background-image: url(&quot;https://translate.googleapis.com/translate_static/img/te_ctrl3.gif&quot;); background-position: -65px 0px;" class="goog-te-gadget-icon" src="https://www.google.com/images/cleardot.gif"><span style="vertical-align: middle;"><a href="javascript:void(0)" class="goog-te-menu-value"><span>Select Language</span><img src="https://www.google.com/images/cleardot.gif" height="1" width="1"><span style="border-left: 1px solid rgb(187, 187, 187);">​</span><img src="https://www.google.com/images/cleardot.gif" height="1" width="1"><span style="color: rgb(155, 155, 155);">▼</span></a></span></div></div></div>
<div style="text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 106px; height: 24px;" id="googleplusone"><iframe title="+1" data-gapiattached="true" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;origin=http%3A%2F%2Fhoovertoyota.stringbeta.com&amp;url=http%3A%2F%2Fwww.hoovertoyota.com%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.Xh27AGpQ8ys.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Fz%3Dzcms%2Frs%3DAItRSTOjHu85ttPOX7Dcbu5iIjt894HaVw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1401735360521&amp;parent=http%3A%2F%2Fhoovertoyota.stringbeta.com&amp;pfname=&amp;rpctoken=16224495" name="I0_1401735360521" id="I0_1401735360521" vspace="0" tabindex="0" style="position: static; top: 0px; width: 106px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 24px;" scrolling="no" marginwidth="0" marginheight="0" hspace="0" frameborder="0" width="100%"></iframe></div></div>
<script type="text/javascript">// <![CDATA[
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
// ]]></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div class="phoneNumbers noMobile">
<p><a href="tel:(866) 980-8082">(866) 980-8082</a></p>
</div>
<div id="ActivEngageChatButton"><img src="http://content.string.captivelead.com/cms/custom/Hoover+Toyota/www.hoovertoyota.com_online.gif"><!-- this is just a placeholder! --></div>
<div class="address noMobile">
<p>2686 Hwy 150, Hoover, AL 35244</p>
</div>
</div>
<div class="Mobile mobileHeader"><a href="tel:(866) 980-8082">Call Sales</a><a href="/hours_and_directions">Directions</a>
<p>2686 Hwy 150, Hoover, AL 35244</p>
<div class="clearAll">&nbsp;</div>
</div>
</div><div style="clear: both;">&nbsp;</div></div></div><div id="navdiv"><ul class="adxm menu"><li><a href="/">Home</a></li><li><a href="/New_Inventory">New Toyotas</a><ul><li><a href="/New_Inventory">Search New Toyota Inventory</a></li><li><a href="/Sales_Event">#1 For Everyone</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li><li><a href="/New_Vehicle_Specials">New Hoover Specials</a></li><li><a href="/Product_Demonstrations">Product Demonstrations</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li></ul></li><li><a href="/Used_Inventory">Used Vehicles</a><ul><li><a href="/Used_Inventory">Search Used Inventory</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li><li><a href="/Used_Inventory/minprice/1/maxprice/%252410%252C000">Bargin Inventory</a></li><li><a href="/Used_Inventory/minprice/1/maxprice/%252410%252C000">Clearance Zone</a></li><li><a href="/Used_Vehicle_Specials">Featured Vehicles</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li><li><a href="/Certified_Pre_Owned">Certified Pre Owned</a></li></ul></li><li><a href="javascript:;">Research</a><ul><li><a href="/Product_Demonstrations">Live Product Demonstrations</a></li><li><a href="/Comparisions">Comparisions</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li></ul></li><li><a href="/Employment">Finance</a><ul><li><a href="/Finance_Application">Finance Application</a></li><li><a href="/Finance_Center">Finance Center</a></li><li><a href="/Value_Your_Trade">Value Your Trade</a></li></ul></li><li><a href="/Schedule_Service">Service</a><ul><li><a href="/Service_Department">Toyota Service Center</a></li><li><a href="/Schedule_Service">Schedule Service</a></li><li><a href="/Service_Specials">Service Specials</a></li><li><a href="/Service_Under_25">Services Under $25</a></li><li><a href="/Toyota_Tire_Center">Toyota Tire Center</a></li><li><a href="/Toyota_Batteries">Toyota Batteries</a></li><li><a href="/Toyota_Brake_Service">Toyota Brake Service</a></li><li><a href="/Oil_Change">Oil Change</a></li><li><a href="/ToyotaCare">ToyotaCare</a></li><li><a href="/Meet_Our_Service_Staff">Meet Our Service Staff</a></li><li><a href="/Service_Videos">Service Videos</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li></ul></li><li><a href="/Parts_Department">Parts</a><ul><li><a href="/Parts_Department">Parts Department</a></li><li><a href="/Parts_Specials">Parts Specials</a></li></ul></li><li><a href="/About_Us">About Us</a><ul class="Moveright"><li><a href="/About_Us">About The Dealership</a></li><li><a href="/Dealership_News">Dealership News</a></li><li><a href="/Video_Testimonials">Video Testimonials</a></li><li><a href="/Hours_and_Directions">Hours and Directions</a></li><li><a href="/Contact_Us">Contact Us</a></li><li><a href="/Dealership_Reviews">Dealership Reviews</a></li><li><a href="/Meet_Our_Staff">Meet Our Staff</a></li><li><a href="/Employment">Employment</a></li><li><a href="/ToyotaCare">ToyotaCare</a></li><li><a href="/Red_Carpet_Program">Red Carpet Program</a></li><li><a href="/Toyota_Rent_a_Car">Toyota Rent a Car</a></li></ul></li></ul></div><div id="bodydiv"><div style="height: auto; width: 100%;"><div class="pageWrap servicePageWrap">
<div class="serviceHeader"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/toyota-service-center-logo.jpg"> <img src="http://servicecenter.dealeronlinemarketing.com/slides/images/HOTS-1129-OctServiceBanner.jpg"></div>
<div class="serviceSideBar"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/toyota-service-center-maintenance-banner.jpg">
<div class="serviceLinks"><a href="/Service_Specials"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/menu-left-service-specials.png"> </a><a href="/Toyota_Rent_a_Car"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/menu-left-car-rental-services.png"> </a><a href="/Service_Videos"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/menu-left-service-videos.png"> </a><a href="/Meet_Our_Service_Staff"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/menu-left-meet-the-staff.png"> </a><a href="/Dealership_Reviews"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/menu-left-testimonials.png"> </a><a href="/Parts_Specials"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/menu-left-parts-specials.png"> </a></div>
<div class="hoursService">
<p>HOURS OF OPERATION</p>
<p>Monday........7:00am - 6:00pm</p>
<p>Tuesday.......7:00am - 6:00pm</p>
<p>Wednesday.....7:00am - 6:00pm</p>
<p>Thursday......7:00am - 6:00pm</p>
<p>Friday........7:00am - 6:00pm</p>
<p>Saturday......7:00am - 6:00pm</p>
<p>Sunday........Closed</p>
</div>
<div class="direct"><a href="/hours_and_directions"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-get-directions.png"></a></div>
</div>
<div class="serviceRight">
<div class="couponArea">
<div class="couponBlock">
<div class="couponImage"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/spotlight-table-tires.png"></div>
<div class="couponText">
<p class="coupHead">TIRE CENTER</p>
<p>Equip Your Toyota With The Best Tires For Less</p>
<a class="couponLink" href="/Toyota_Tire_Center"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-learn-more-rebates.png"> </a></div>
</div>
<div class="couponBlock">
<div class="couponImage"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/spotlight-table-brakes.png"></div>
<div class="couponText">
<p class="coupHead">BRAKES</p>
<p>Discs, Pads &amp; Rotor Replacements With Genuine Toyota Parts</p>
<a class="couponLink" href="/Toyota_Brake_Service"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-learn-more-specials.png"> </a></div>
</div>
<div class="couponBlock">
<div class="couponImage"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/spotlight-table-oil-change.png"></div>
<div class="couponText">
<p class="coupHead">OIL CHANGES</p>
<p>Keep Your Toyota Running Smoothly With Synthetic Or Conventional Oil</p>
<a class="couponLink" href="/Oil_Change"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-learn-more-specials.png"> </a></div>
</div>
<div class="couponBlock">
<div class="couponImage"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/spotlight-table-batteries.png"></div>
<div class="couponText">
<p class="coupHead">BATTERIES</p>
<p>Keep Your Toyota Starting Right With Our TrueStart<sup>TM</sup> Or True-2<sup>TM</sup> Batteries</p>
<a class="couponLink" href="/Toyota_Batteries"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-learn-more-specials.png"> </a></div>
</div>
<div class="couponBlock smallerBlock"><a href="/Schedule_Service"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-factory-service.jpg"></a></div>
<div class="couponBlock smallerBlock"><a href="http://www.toyota.com/owners/web/pages/resources/recalls" target="blank"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-recalls.jpg"></a></div>
</div>
<div class="underCoupons">
<div class="underBlock"><a href="/Parts_Department"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/toyota-service-center-banner-parts-and-accessories-home.jpg"></a></div>
<div class="underBlock"><a href="/Service_Under_25"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/toyota-service-center-banner-services-under-twenty-five.jpg"></a></div>
<div class="clearAll">&nbsp;</div>
<a href="contact_us"><img src="http://www.dealeronlinemarketing.com/Toyota-Service-Center/Hoover-Toyota/images/button-ask-us-a-question.jpg"></a></div>
</div>
</div><div style="clear: both;">&nbsp;</div></div></div><div id="footerdiv"><div style="height: 100%; width: 100%; overflow: hidden;"><div class="footer_wrapper">
<div class="foot_left">
<p><strong>Hoover Toyota&nbsp;</strong>2686 Hwy 150, Hoover, AL 35244 (866) 980-8082</p>
<div class="foot_menu">
<ul>
<li><a href="/home?salesHome">Home</a></li>
<li><a href="/new_inventory">New Inventory</a></li>
<li><a href="/used_Inventory">Pre-Owned Inventory</a></li>
<li><a href="/hours_and_directions">Directions</a></li>
<li><a href="/contact_us">Contact</a></li>
</ul>
<div class="clearAll">&nbsp;</div>
</div>
<p>© 2014 hoovertoyota.com</p>
<div class="foot_right"><a href="stringautomotive.com" target="blank"><img src="http://cache.automotive.stringcontent.com/cms/017F4CDFDF71F71AC2BAF27F1A389AC1.png"></a></div>
</div>
</div><div style="clear: both;">&nbsp;</div></div></div><script>
function addSideBar() {
$('.sideBar').append('<div class="hoursWrap phoneSideBar"><h3>Sales: <a href="tel:(866) 980-8082">(866) 980-8082</a><br /><br />2686 Hwy 150, Hoover, AL 35244</h3></div></div><div class="hoursWrap"><h2>Dealership Hours</h2><br /><p>Mon -  9:00am - 7:00pm</p><p>Tues -  9:00am - 7:00pm</p><p>Wed -  9:00am - 7:00pm</p><p>Thurs -  9:00am - 7:00pm</p><p>Fri -  9:00am - 7:00pm</p><p>Sat -  9:00am - 7:00pm</p><p>Sun: Closed</p></div><div class="sidebarSearch"><a href="New_Inventory">Search New Inventory »</a> <a href="Used_Inventory">Search Used Inventory »</a><a href="/Red_Carpet_Program">Red Carpet Program »</a></div></div>');
}

function ResponsiveNav() {

    $("#headerdiv").before('<div id="pull">Menu</div>');

     $("#navdiv").clone().addClass("responsive").prependTo('#headerdiv');

    $(".responsive").removeAttr('id');
    $(".responsive").removeClass('.menu');
    $('.responsive').hide();
    $('#pull').click(function () {
        $('.responsive').slideToggle();
    });


    $(".responsive li:has(ul)").addClass("hasUL_top");
    $('.hasUL_top > a').removeAttr('href');
    $(".hasUL_top > ul").addClass('hasUL');
    $(".hasUL").hide();



    $(".hasUL_top").click(function () {
        HasUL = $(".hasUL");

        if (HasUL.is(":visible")) {

            $(".hasUL").slideUp();
        }
        $(this).find('.hasUL').slideToggle();

    });

}

function MoveLastMenu () {
$(".menu> li > ul:last").addClass('Moveright');
}


$(document).ready(function() {
    addSideBar();
    MoveLastMenu();
    ResponsiveNav();
  
});

</script>

<div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.google.com/images/icons/product/translate-32.png" height="20" width="20"></div><iframe style="width:348px;height:1.1em;float:right;" id="signin_status" border="0" src="//translate.google.com/translate/tminfo?continue=https%3A%2F%2Ftranslate.google.com%2Fmanager%2Fwebsite%2Fstatic_files%2Fhtml%2Freload.html" frameborder="0"></iframe></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Original text</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Contribute a better translation</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div style="display: none;" class="status-message"></div></div>
<script>
function discountCreate () {
	$('div.inventory-listing-vehicle-specs').each( 
   	function(idx, div) {
        	var priceContainer = div;
        	var priceSpans = $('span',div)
        	var priceOne = priceSpans[0].innerHTML.trim();
        	var priceOne = priceOne.replace (/[^0-9]/g,'');
        	var priceTwo = priceSpans[1].innerHTML.trim();
        	var priceTwo = priceTwo.replace (/[^0-9]/g,'');
        	var Discount = priceOne - priceTwo;
	if (priceTwo > 0) {
		if (Discount > 0) {
		$('div.inventory-listing-vehicle-pricing-item',div).eq(0).append('<p class="dealerDiscountList">Price Difference: <span class="dealerDiscountPriceList">- $' + Discount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</span> </p>');
        }
        }
});
};
</script><div style="position: absolute; top: -1000px; height: 1px; width: 1px;"><object id="fI0hvy51ji8" name="fI0hvy51ji8" type="application/x-shockwave-flash" data="https://translate.googleapis.com/translate_static/js/element/hrs.swf" height="500" width="400"><param name="allowScriptAccess" value="always"></object></div><iframe style="visibility: visible; box-sizing: content-box; width: 731px; height: 285px; display: none;" class="goog-te-menu-frame skiptranslate" frameborder="0"></iframe></body>