<script>
//Get url vars
function getQueryParams(qs) {
    qs = qs.split("+").join(" ");
    var params = {}, tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;
    while (tokens = re.exec(qs)) {
        params[decodeURIComponent(tokens[1])]
            = decodeURIComponent(tokens[2]);
    }
    return params;
}
//check cookie
function DOM_CheckCookie(name1) {
	var	DOM_bname;
	var DOM_Super = 0;
	if (DOM_ReadCookie('DOM_buick')) {
		DOM_bname = 'buick';
		DOM_Super = 1;	
	} else if (DOM_ReadCookie('DOM_chevy')){
		DOM_bname = 'chevy';
		DOM_Super = 1;	
	} else if (DOM_ReadCookie('DOM_dodge')){
		DOM_bname = 'dodge';
		DOM_Super = 1;	
	} else if ((name1=='DOM_buick'||name1=='DOM_chevy'||name1=='DOM_dodge')&&(DOM_Super == 0)) {
		DOM_CreateCookie(name,name1,30);
		DOM_bname = name1;
		DOM_Super = 0;
	} else {
		DOM_bname = 'na';
		DOM_Super = 0;
	}
	var domSuperBrands=[DOM_Super,DOM_bname];	
	return domSuperBrands;	
}
//Create Cookie for DOM
function DOM_CreateCookie(name,value,days) {
	// new Date object created
	var date = new Date();
	// adding days to current time
	date.setTime(date.getTime()+(days*24*60*60*1000));
	// converting to standard format
	var expires = date.toGMTString(); 
	// adding cookie name,value and expiry time
	document.cookie = name+"="+value+"; expires="+expires+"; path=/";
}
//Read Cookie for DOM
function DOM_ReadCookie(name) {
	var flag = 0;
	// getting the browser cookie values into an array
	var dcmntCookie = document.cookie.split(';');
	// looping over the array to find our cookie
	for(var i=0;i < dcmntCookie.length;i++) {
		var ck = dcmntCookie[i];
		// loop for removing extra spaces from the beginning of each cookie
		while (ck.charAt(0)==' ') {
			ck = ck.substring(1,ck.length);
		}
		if(ck) {
			// splitting the cookie into its name and value
			cparts = ck.split('=');
			// setting the flag if a cookie with the name specified exists
			if (cparts[0]==name)
			flag=1;
		}              
	}    
	// returning true if cookie exists else returning false 
	if(flag) { 
		return true; 
	} else {
		return false; 
	}   
}
//define the vars we need for DOM
var domquery = getQueryParams(document.location.search);
var domBrand = domquery.domdlr;
var domSuperB = DOM_CheckCookie("DOM_"+domBrand);
/* define marchex vars */
var vs_account_id;

/*Build script vars based on what cookie is active.*/
if ((domSuperB[0]==1||domSuperB[0]==0) && (domSuperB[1]=='buick')){
	//Buick exists or created	
	vs_account_id = "CtjSZ1MCUnFtfQBm";	
}else if ((domSuperB[0]==1||domSuperB[0]==0) && (domSuperB[1]=='chevy')){
	//chevy exists or created
	vs_account_id = "CtjSZlBbVTtfFwAi";
}else if ((domSuperB[0]==1||domSuperB[0]==0) && (domSuperB[1]=='dodge')){
	//dodge exists or created
	vs_account_id      = "CtjSZVMCVzMyTACu";
}

</script>
<script type="text/javascript" src="http://marchex.voicestar.com/euinc/number-changer.js"></script>
