</script>
<script>
//define the vars we need for DOM
var domquery = getQueryParams(document.location.search);
var domBrand = domquery.domdlr;
var domSuperB = DOM_CheckCookie("DOM_"+domBrand);
/* define google form submission vars */
var google_conversion_id;
var google_conversion_language;
var google_conversion_format;
var google_conversion_color;
var google_conversion_label;
var google_conversion_value;
var google_remarketing_only;
//check cookie for remarketing
if ((domSuperB[0]==1||domSuperB[0]==0) && (domSuperB[1]=='buick')){
	//Buick exists or created	
	google_conversion_id = 998455821;
	google_conversion_language = "en";
	google_conversion_format = "2";
	google_conversion_color = "ffffff";
	google_conversion_label = "4DdxCMParxEQjfSM3AM";
	google_conversion_value = 0;
	google_remarketing_only = false;
	$.getScript( "http://www.googleadservices.com/pagead/conversion.js" );
}else if ((domSuperB[0]==1||domSuperB[0]==0) && (domSuperB[1]=='chevy')){
	//chevy exists or created
	google_conversion_id = 1000305997;
	google_conversion_language = "en";
	google_conversion_format = "2";
	google_conversion_color = "ffffff";
	google_conversion_label = "BL70CJvBwQMQzer93AM";
	google_conversion_value = 0;
	google_remarketing_only = false;
	$.getScript( "http://www.googleadservices.com/pagead/conversion.js" );
}else if ((domSuperB[0]==1||domSuperB[0]==0) && (domSuperB[1]=='dodge')){
	//dodge exists or created
	google_conversion_id = 972756319;
	google_conversion_language = "en";
	google_conversion_format = "2";
	google_conversion_color = "ffffff";
	google_conversion_label = "4N2WCNHy2wcQ36rszwM";
	google_conversion_value = 0;
	google_remarketing_only = false;
	$.getScript( "http://www.googleadservices.com/pagead/conversion.js" );
}
var $elem2 = $('<noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/' +  google_conversion_id + '/?value=0&label=' + google_conversion_label + '&guid=ON&script=0"/></div></noscript>');
$("body").append($elem2);
</script>
<script>