BING CODES:
FATS BING Codes

FORM SUBMISSIONS (GOES ON THANK YOU PAGES ONLY)                                                                                           

</script>
<!-- Google Code for Form Submissions Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 995552476;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "zU1WCNyt-gcQ3Nnb2gM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/995552476/?value=0&label=zU1WCNyt-gcQ3Nnb2gM&guid=ON&script=0"/>
</div>
</noscript>
<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/110ffae8-9db7-4187-b088-e46330ea51fc/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2756221",type:"1",actionid:"204900"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/110ffae8-9db7-4187-b088-e46330ea51fc/analytics.html?dedup=1&domainId=2756221&type=1&actionid=204900" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>

<script>