@charset "utf-8";
/*------------------------------------*\
	DEFAULTS
\*------------------------------------*/
html {
	height:100%;
}
body{
	font-family:Arial,Verdana,sans-serif;
	font-size:0.75em;
	margin:0 auto;
	padding:0 auto;
	height:100%;
	background-image: url(../../img/body_bg.png);
}
#wrapper {
	width:100%;
	height:100%;
}