/* DOM CSS Responsive */
/* DOMTSC */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	.DOMTSC-logo-float {
		float: none !important;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	.DOMTSC-logo-float {
		float: none !important;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	.DOMTSC-logo-float {
		float: none !important;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
	.DOMTSC-logo-float {
		float: none !important;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	.DOMTSC-logo-float {
		float: none !important;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


/* basic functions */
.DOMTSC-clear {
	clear:both;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.DOMTSC-center {
	margin:auto;
	text-align:center;
	align-content:center;
}
.DOMTSC-float-left {
	float:left;
}
.DOMTSC-float-right {
	float:left;
}
.DOMTSC-margin-0-all {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.DOMTSC-padding-0-all {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}




/* main areas */
.DOMTSC-wrapper {
	max-width: 920px;
	width:100%;
}
.DOMTSC-logo {
	align-content:center;
	width:100%;
	max-width:240px;
	text-align:center;
}
.DOMTSC-logo-float {
	float: left;
}
.DOMTSC-slides {
	
}
.DOMTSC-clear * img {
	width:100%;	
}
.DOMTSC-clear * a {
	text-decoration: none;
}
.DOMTSC-content {
	/* temp */
	margin-left:30px;
	max-width:660px;
	width: 100%;
	height:auto;
	min-height: 100px;	
}
.DOMTSC-Home-Item {
	margin: 5px;
	padding: 5px;
	max-width: 308px;
	width: 100%;
	min-height:149px;
	height:auto;
}
	
.DOMTSC-Home-Item *, .DOMTSC-Home-Item {
	background-color:#4e4e4e;
	color: #ffffff;
}
.DOMTSC-Home-Item .DOMTSC-float-left, .DOMTSC-Home-Item .DOMTSC-float-left img {
	width:148px;
}

.DOMTSC-Home-Item .DOMTSC-float-right {
	width:148px;
	margin-left: 7px;
	margin-top: 7px;
}
.DOMTSC-Home-Item .DOMTSC-float-right p {
	margin-top: 0px;
}
.DOMTSC-Home-Item-Title {
	color: #ffdf00;
	font-size: 1.3em;
	font-weight: bold;
}
	
.DOMTSC-content-header {
	width: 100%;
	max-width: 660px;
}
.DOMTSC-left-sidebar {
	background-color:#4c4d4f;
	max-width:229px;
}
.DOMTSC-right-sidebar {
	
}
.DOMTSC-footer {
	
}

/* sub areas */
.DOMTSC-left-nav {
	display:block;
	margin:2px;
}

.DOMTSC-left-hours {
	padding-top:10px;
}
.DOMTSC-left-hours * {
	color:#ffffff;	
}
	
.DOMTSC-left-hours-redbar {
	height:1px;
	background-color:#ff0000;
	width:90%;
	margin:5%;
}

.DOMTSC-left-hours-datetime p {
	margin:auto;
	padding-left:5px;
	padding-bottom: 5px;
	padding-top:5px;
	text-align:left;
	min-width: 230px;
	width:100%;
}
.DOMTSC-left-hours-directions {
	margin:10%;
	padding-bottom:25px;
}
/* extras */
.DOMTSC-figure {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  width: 100%;
}
.DOMTSC-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
