<!--Signature Block--><table width="600" border="0" style="padding-top:1px; padding-bottom:1px; padding-left:5px; padding-right:0px;">
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; color:#999;"><strong>Tom Williams | Regional Sales Director</strong></td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; color:#999;">Dealer Online Marketing</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; color:#999;">874 S. Pleasantburg Drive, Greenville, SC 29607</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><a href="mailto:Tom@dealeronlinemarketing.com" target="_blank">Tom@dealeronlinemarketing.com</a></td>
	</tr>
	<tr>
		<td>Office: <a value="+18642480886">864-248-0886 x7000</a></td>
	</tr>
	<tr>
		<td>Direct: <a value="+19547825404">954-782-5404</a></td>
	</tr>
	<tr>
		<td>Fax: <a value="+1864-349-2119">864-349-2119</a></td>
	</tr>
	<tr>
		<td><a href="http://www.dealeronlinemarketing.com/" target="_blank"><img src="http://www.dealeronlinemarketing.com/Signatures/logo.jpg" alt="" /></a>&nbsp;&nbsp;<a href="http://www.facebook.com/DealerOnlineMarketing" target="_blank"><img src="http://www.dealeronlinemarketing.com/Signatures/fb.jpg" alt="" /></a>&nbsp;&nbsp;<a href="http://www.twitter.com/DealerOnlineM" target="_blank"><img src="http://www.dealeronlinemarketing.com/Signatures/twitter.jpg" alt="" /></a>&nbsp;&nbsp;<a href="http://www.linkedin.com/company/dealer-online-marketing" target="_blank"><img src="http://www.dealeronlinemarketing.com/Signatures/LinkedIn.jpg" alt="" /></a></td>
	</tr>
</table><!--Signature Block--><br/>