<!-- Driving Aids -->
				<div id="drivingaids" style="display:none;">
					<div class="dom_vid_title_area">Driving Aids</div>
					<div class="dom_vid_player_area" align="center">
					
						<!-- player area of all vids in this section -->
						
						
						
						
						
						
					



<div id="drivingaids1" style="display:none;">
							<div id="video_box">
								<div id"video_box_holder">
							    <video id="video" width="640" height="360" poster="http://www.dealeronlinemarketing.com/Client/CAMO-Carlton-Motorcars/14-Internal-Tech-Support/CAMO-1057/images/002-a_Cruise_Control.jpg" autobuffer controls="true">
							    	<source src="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.mp4" type="video/mp4"></source>
							    	<source src="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/How_To_Cruise_Control_FINAL_710x394_webM_New.webm" type="video/webm"></source>
							    	<source src="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/How_To_Cruise_Control_FINAL_710x394_FLV.flv" type="video/flv"></source>
							    	
							      	<!--[if gt IE 6]>
							      		<object width="640" height="375" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"><!
							      	[endif]--><!--[if !IE]><!-->
							      		<object width="640" height="375" type="video/quicktime" data="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.mp4">
							      	<!--<![endif]-->
							      	<param name="src" value="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.mp4" />
							      	<param name="showlogo" value="false" />
							      	<param name="autoplay" value="false" />
							    </video>
							    <div id="controls">
							    	<div id="play" class="play control">
							        	<span></span>
							      	</div>
								<div id="progress" class="control">
									<div id="progress_box">
										<span id="load_progress"><span id="play_progress"></span></span>
									</div>
							        <div id="play_time">
							        	<span id="current_time_display">00:00</span> / <span id="duration_display">00:00</span>
							        </div>
								</div>
							    <div id="volume" class="control">
							    	<span>
							        	<ul id="volume_display">
							            	<li></li><li></li><li></li><li></li><li></li><li></li>
							          	</ul>
							        </span>
								</div>
							    <div id="full_screen" class="control">
							    	<span>
							        	<table border="0" cellpadding="0" cellspacing="0">
							            	<tr>
							              		<td><div id="fs_top_left" class="fs-corner"></div></td>
							              		<td><div id="fs_top_right" class="fs-corner"></div></td>
							            	</tr>
							            	<tr>
							              		<td><div id="fs_bottom_left" class="fs-corner"></div></td>
							              		<td><div id="fs_bottom_right" class="fs-corner"></div></td>
							            	</tr>
							          	</table>
							        </span>
							    </div>
							    <!--[if gt IE 6]>
							      		</object>
							      		<![endif]--><!--[if !IE]><!-->
							      		</object>
							    <!--<![endif]-->
							    </div>
							</div>							
						</div>
						
						
						</div>			
					<div><a href="javascript:resetvideo();" style="color:#fff;">Reset</a><a href="javascript:pauseVideo();" style="color:#fff;">Pause</a><br/>
					<a href="javascript:resetvideo();" style="color:#fff;">Reset</a><a href="javascript:pauseVideo();" style="color:#fff;">Pause</a></div>
					<div class="dom_vid_player_gallery">
						<!-- player gallery area of all vids in this section (clickable) -->	
					</div>
				</div>
				<!-- Driving Aids -->