<div id="videos-container" class="playing">
<div class="video-click-shield" style="display: block;" data-fallbackimage="" data-height="394" data-width="710" data-title="Cruise Control" data-subsection="videos" data-mp4src="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.mp4" data-webmsrc="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.webm" data-f4vsrc="" data-flvsrc="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.flv">
<div class="video-button">
<span class="play-video">Play</span>
<span class="duration">01:07 Min</span>
</div>
<img alt="Mercedes Benz 002 a Cruise Control" src="http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.jpg">
</div>
<div class="video-player-wrap">
<object id="owners-video-eac7ec5571d8b210VgnVCM1000007c184335RCRD" class="" width="710" height="394" type="application/x-shockwave-flash" data="http://www.mbusa.com/mercedes/swf/mbusa_actionscript_media_container.swf" style="visibility: visible;">
<param name="scale" value="noScale">
<param name="bgcolor" value="#000000">
<param name="wmode" value="transparent">
<param name="quality" value="high">
<param name="menu" value="false">
<param name="salign" value="tl">
<param name="allowfullscreen" value="true">
<param name="flashvars" value="content=http://www.mbusa.com/vcm/MB/DigitalAssets/InstructionalVideos/002-a_Cruise_Control.mp4&autoPlay=true&contextRoot=http://www.mbusa.com/mercedes&bgcolor=222121&id=owners-video-eac7ec5571d8b210VgnVCM1000007c184335RCRD&hideControls=false&showPlaySlide=true">
</object>
<div class="spinner" style="display: none;"></div>
<div class="spinner" style="display: none;"></div>
</div>
<div id="video-player-desc" class="search-page">
<p>It's easy to go with the flow of traffic. That is, when you can increase or lower speed by increments of 5 mph - or even 1 mph. You can also end your cruise-control session with a tap of the brake. Or restore it just as quickly. Here's how.</p>

</div>
</div>


<p>
FEATURED IN: <br/>
 <br/>
C-Class <br/>
E-Coupe/Cab <br/>
E-Sedan/Wagon <br/>
GLK-Class <br/>
 <br/>
-Driving Aids <br/>
Cruise Control <br/>
HOLD Function <br/>
 <br/>
-Lights and Mirrors <br/>
Turn Signals <br/>
Exterior Light Switch <br/>
Garage Door Opener <br/>
Garage Door Opener (with Rolling Code) <br/>
Daytime Running Lamps (on/off) <br/>
 <br/>
-Climate Control <br/>
Dual-Zone Automatic Climate Control <br/>
 <br/>
-Windows and Wipers <br/>
Windshield Wipers <br/>
 <br/>
-Doors and Locks <br/>
Locking Without Key <br/>
 <br/>
-Seats and Steering wheel <br/>
Seat, Wheel and Mirror Memory <br/>
NECK-PRO Head Restraint Reset <br/>
 <br/>
-Voice Control <br/>
Voice Control Individualization <br/>
 <br/>
-Audio <br/>
Load/Eject Disc Changer (COMAND) <br/>
 <br/>
-Phone <br/>
Bluetooth Phone Pairing (Audio 20) <br/>
Bluetooth Phone Pairing (COMAND) <br/>
Bluetooth Phone Pairing (External Authorization, Audio 20) <br/>
Bluetooth Phone Pairing (External Authorization, COMAND) <br/>
 <br/>
-System Settings <br/>
Setting the Clock (COMAND) <br/>
 <br/>
-Engine and Transmission <br/>
KEYLESS-GO (Start/Stop) <br/>
 <br/>
-Care and Maintenance <br/>
SmartKey Battery Replacement <br/>
 <br/>
-Navigation <br/>
Destination Address Entry <br/>
 <br/>
-System Controls <br/>
COMAND Controller <br/>
Reset Service Indicator <br/>
 <br/>
-Storage <br/>
Storage and Accessory Power <br/>
 <br/>
-Wheels Tires and Brakes <br/>
Tire Pressure Monitor Restart <br/>
</p>