<!--<script src="/media/system/js/mootools-core.js" type="text/javascript"></script>
<script src="/media/system/js/core.js" type="text/javascript"></script>
<script src="/media/system/js/mootools-more.js" type="text/javascript"></script>
<script src="/media/system/js/validate.js" type="text/javascript"></script>
<script src="/media/jui/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/media/system/js/html5fallback.js" type="text/javascript"></script>

<script type="text/javascript">
function keepAlive() {	var myAjax = new Request({method: "get", url: "index.php"}).send();} window.addEvent("domready", function(){ keepAlive.periodical(840000); });
window.addEvent('domready', function() {
			$$('.hasTip').each(function(el) {
				var title = el.get('title');
				if (title) {
					var parts = title.split('::', 2);
					el.store('tip:title', parts[0]);
					el.store('tip:text', parts[1]);
				}
			});
			var JTooltips = new Tips($$('.hasTip'), {"maxTitleChars": 50,"fixed": false});
		});
jQuery(document).ready(function()
				{
					jQuery('.hasTooltip').tooltip({"html": true,"container": "body"});
				});
  </script>
  <script type="text/javascript">
    (function() {
      var strings = {"JLIB_FORM_FIELD_INVALID":"Invalid field:&#160"};
      if (typeof Joomla == 'undefined') {
        Joomla = {};
        Joomla.JText = strings;
      }
      else {
        Joomla.JText.load(strings);
      }
    })();
  </script>
  -->
<form class="submission small style" action="http://www.dom360.com/index.php/component/users/?task=registration.register" method="post" enctype="multipart/form-data">
												<fieldset>
																		<div><span class="spacer"><span class="before"></span><span class="text"><label id="jform_spacer-lbl" class=""><strong class="red">*</strong> Required field</label></span><span class="after"></span></span>								&#160;															</div>
																							<div><label id="jform_name-lbl" for="jform_name" class="hasTooltip required" title="<strong>Name</strong><br />Enter your full name">Name:<span class="star">&#160;*</span></label>								<input type="text" name="jform[name]" id="jform_name" value="" size="30" required aria-required="true" />															</div>
																							<div><label id="jform_username-lbl" for="jform_username" class="hasTooltip required" title="<strong>Username</strong><br />Enter your desired user name.">Username:<span class="star">&#160;*</span></label>								<input type="text" name="jform[username]" id="jform_username" value="" class="validate-username" size="30" required aria-required="true" />															</div>
																							<div><label id="jform_password2-lbl" for="jform_password2" class="hasTooltip required" title="<strong>Password</strong><br />Enter your desired password.">Password:<span class="star">&#160;*</span></label>								<input type="password" name="jform[password2]" id="jform_password2" value="" autocomplete="off" class="validate-password" size="30" maxlength="99" required aria-required="true" />															</div>
																							<div><label id="jform_password1-lbl" for="jform_password1" class="hasTooltip required" title="<strong>Confirm Password</strong><br />Confirm your password">Confirm Password:<span class="star">&#160;*</span></label>								<input type="password" name="jform[password1]" id="jform_password1" value="" autocomplete="off" class="validate-password" size="30" maxlength="99" required aria-required="true" />															</div>
																							<div><label id="jform_email1-lbl" for="jform_email1" class="hasTooltip required" title="<strong>Email Address</strong><br />Enter your email address">Email Address:<span class="star">&#160;*</span></label>								<input type="email" name="jform[email1]" class="validate-email" id="jform_email1" value="" size="30" required aria-required="true" />															</div>
																							<div><label id="jform_email2-lbl" for="jform_email2" class="hasTooltip required" title="<strong>Confirm email Address</strong><br />Confirm your email address">Confirm email Address:<span class="star">&#160;*</span></label>								<input type="email" name="jform[email2]" class="validate-email" id="jform_email2" value="" size="30" required aria-required="true" />															</div>
																																						</fieldset>
					
		<div>
			<button class="validate" type="submit">Register</button>
		</div>
		
		<input type="hidden" name="option" value="com_users" />
		<input type="hidden" name="task" value="registration.register" />
		<input type="hidden" name="2dc3ce1668ff481f1018c1f41617ac82" value="1" />		
	</form>